<template>
  <el-form :show-message="false" :model="model" :rules="driverOwnerRules" ref="driverOwnerForm">
   <h2>{{$t('Driver and Owner information')}}</h2>
    <div v-if="!isFormValid" class="error-message">
     <h3>ERROR</h3>
     <p>{{$t('Please check the form fields highlighted in red below.')}}</p>
   </div>

   <div class="driver-owner-information">
    <div class="cf">
      <div class="col">
        <h3>{{$t('Driver information')}}</h3>
        <el-form-item label=" " prop="driver.name">
          <el-input v-model="model.driver.name" :placeholder="$t('Name')"></el-input>
        </el-form-item>

        <el-form-item label=" " prop="driver.contactNumber">
          <el-input type="tel" :maxlength=10 v-model="model.driver.contactNumber" :placeholder="$t('Contact number')"></el-input>
        </el-form-item>

        <el-form-item label=" " prop="driver.preferredLanguage">
          <el-select v-model="model.driver.preferredLanguage" :placeholder="$t('Driver Preferred Language')">
            <el-option label="English" value="English" seleted></el-option>
            <el-option label="Tamil" value="Tamil"></el-option>
            <!-- <el-option label="Hindi" value="Hindi"></el-option> -->
          </el-select>
        </el-form-item>

        <el-form-item label=" " prop="driver.fleetManagerName" :class="{required : model.driver.fleetManagerEmailAddress != '' || model.driver.fleetManagerContactNo != ''}">
          <el-input v-model="model.driver.fleetManagerName" :placeholder="$t('Fleet Manager Name (if any)')"></el-input>
        </el-form-item>

        <el-form-item label=" " prop="driver.fleetManagerContactNo">
          <el-input type="tel" :maxlength=10 v-model="model.driver.fleetManagerContactNo" :placeholder="$t('Fleet Manager Contact No (if any)')"></el-input>
        </el-form-item>

        <el-form-item label=" " prop="driver.fleetManagerEmailAddress">
          <el-input v-model="model.driver.fleetManagerEmailAddress" :placeholder="$t('Fleet Manager Email Address')"></el-input>
        </el-form-item>

        <el-form-item label=" " prop="driver.fleetManagerLanguage" :class="{required : model.driver.fleetManagerEmailAddress != '' || model.driver.fleetManagerContactNo != ''}">
          <el-select v-model="model.driver.fleetManagerLanguage" :placeholder="$t('Fleet Manager Language')">
            <el-option label="English" value="English" seleted></el-option>
            <el-option label="Tamil" value="Tamil"></el-option>
            <!-- <el-option label="Hindi" value="Hindi"></el-option> -->
          </el-select>
        </el-form-item>

      </div>
      <div class="col ml-65">
        <h3>{{$t('Customer information')}}</h3>
        <el-form-item label=" " prop="owner.companyName">
          <el-autocomplete
            v-model.trim="model.owner.companyName"
            @input.native="input"
            :value="model.owner.companyName"
            :placeholder="$t('Company name')"
            :fetch-suggestions="querySearch"
            :debounce=500
            @select="handleSelect"
            value-key="_id"
            :trigger-on-focus="false"
            suffix-icon="el-icon-search"
          ></el-autocomplete>
        </el-form-item>

        <el-form-item label=" " prop="owner.street">
          <el-input v-model="model.owner.street" :placeholder="$t('Address Street')"></el-input>
        </el-form-item>

        <el-form-item label=" " prop="owner.street">
          <el-input v-model="model.owner.city" :placeholder="$t('City')"></el-input>
        </el-form-item>

        <el-form-item label=" " prop="owner.pinCode">
          <el-input type="tel" :maxlength=6 v-model="model.owner.pinCode" :placeholder="$t('Pincode')"></el-input>
        </el-form-item>

        <el-form-item label=" " prop="owner.nbOfVehicleInFleet">
          <el-input type="number" v-model.number="model.owner.nbOfVehicleInFleet" :placeholder="$t('Number of Vehicles In Fleet')"></el-input>
        </el-form-item>

        <el-form-item label=" " prop="owner.name">
          <el-input v-model.trim="model.owner.name" :placeholder="$t('Owner Name')"></el-input>
        </el-form-item>

        <el-form-item label=" " prop="owner.contactNumber">
          <el-input type="tel" :maxlength=10 v-model.trim="model.owner.contactNumber" :placeholder="$t('Owner Contact Number')"></el-input>
        </el-form-item>

        <el-form-item label=" " prop="owner.emailAddress">
          <el-input v-model="model.owner.emailAddress" :placeholder="$t('Owner Email Address')"></el-input>
        </el-form-item>

        <el-form-item label=" " prop="owner.preferredLanguage">
          <el-select v-model="model.owner.preferredLanguage" :placeholder="$t('Owner Preferred Language')">
            <el-option label="English" value="English" seleted></el-option>
            <el-option label="Tamil" value="Tamil"></el-option>
            <!-- <el-option label="Hindi" value="Hindi"></el-option> -->
          </el-select>
        </el-form-item>
      </div>
    </div>
  </div>
</el-form>
</template>

<script>
import db from "@/utils/database";

export default {
  props: ['model'],
  data: function () {
    var validateNbofFleet = (rule, value, callback) => {
      var isInt = function(n) {
        return n % 1 === 0
      }
      if ((isInt(value) && value >= 0) || value === '') {
        callback()
        return
      }
      callback(new Error())
    }
    let validatePhone = (rule, value, callback) => {
      let isValid = /^[0-9]{10,10}$|^$/.test(value)
      if (isValid) {
        callback()
      } else {
        callback(new Error())
      }
    }
    let validatePinCode = (rule, value, callback) => {
      let isValid = /^[0-9]{6,6}$|^$/.test(value)
      if (isValid) {
        callback()
      } else {
        callback(new Error())
      }
    }
    let validatefleetManagerLanguage = (rule, value, callback) => {
      if(this.model.driver.fleetManagerEmailAddress != '' || this.model.driver.fleetManagerContactNo != '') {
        if(value == '') {
          callback(new Error());
            return;
          }
          callback();
        } else {
          callback();
      }
      
    }
     let validatefleetManagerName = (rule, value, callback) => {
      if(this.model.driver.fleetManagerEmailAddress != '' || this.model.driver.fleetManagerContactNo != '') {
        if(value == '') {
          callback(new Error());
            return;
          }
          callback();
        } else {
          callback();
      }      
    }
    return {
      isFormValid: true,
      driverOwnerRules: {
        'driver.name': [
          {
            required: true,
            trigger: 'blur'
          }
        ],
        'driver.contactNumber': [
          {
            trigger: 'blur',
            validator: validatePhone
          }, {
            required: true
          }
        ],
        'driver.fleetManagerContactNo': [
          {
            trigger: 'blur',
            validator: validatePhone
          }
        ],
        'driver.preferredLanguage': [
          {
            required: true,
            trigger: 'change'
          }
        ],
        'driver.fleetManagerLanguage': [
          {
            validator: validatefleetManagerLanguage,
            trigger: 'change'
          }
        ],
        'driver.fleetManagerName': [
          {
            validator: validatefleetManagerName,
            trigger: 'blur'
          }
        ],
        'owner.companyName': [
          {
            required: true,
            trigger: 'blur'
          }
        ],
        'owner.name': [
          {
            required: true,
            trigger: 'blur'
          }
        ],
        'owner.contactNumber': [
          {
            trigger: 'blur',
            validator: validatePhone
          }, {
            required: true
          }
        ],
        'owner.preferredLanguage': [
          {
            required: true,
            trigger: 'change'
          }
        ],
        'owner.pinCode': [
          {
            trigger: 'blur',
            validator: validatePinCode
          }
        ],
        'owner.nbOfVehicleInFleet': [
          {
            validator: validateNbofFleet,
            trigger: 'blur'
          }
        ],
        'owner.emailAddress': [
          {
            type: 'email',
            trigger: 'blur'
          }
        ],
        'driver.fleetManagerEmailAddress': [
          {
            type: 'email',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    validate () {
      return new Promise((resolve, reject) => {
        this.$refs.driverOwnerForm.validate(valid => {
          this.isFormValid = valid
          resolve(valid)
        })
      })
    },
    querySearch(queryString, cb) {
      this.getCompanyInfo(queryString)
        .then(results => {
          cb(results);
        })
        .catch(err => {
          cb([]);
        });
    },
    /**
     * Binding data to model corresponding the company existed in the database
     *
     * @param {Object} item
     */
    handleSelect(item) {
      this.model.owner.companyName = item.companyName;
      this.model.owner.street = item.street;
      this.model.owner.city = item.city;
      this.model.owner.pinCode = item.pinCode;
      this.model.owner.nbOfVehicleInFleet = item.nbOfVehicleInFleet;
      this.model.owner.name = item.name;
      this.model.owner.contactNumber = item.contactNumber;
      this.model.owner.emailAddress = item.emailAddress;
      this.model.owner.preferredLanguage = item.preferredLanguage;
    },
    input(event) {
      window.scrollTo({
        top: 200,
        behavior: "smooth"
      });
    },
    /**
     * Get companys with companyCode
     *
     * @param { Number } companyCode
     * @returns { Promise }
     */
    getCompanyInfo(companyCode) {
      companyCode = companyCode.toUpperCase();
      return new Promise((resolve, reject) => {
        let query = {
          selector: {
            _id: {$regex: companyCode},
            type: 'companyInfo'
          }
        };

        db.jobCardDb.find(query)
        .then(result => {
            resolve(result.docs);
          })
          .catch(err => {
            reject(err);
          });
      });
    }
  }
}
</script>

<style>

</style>
