<template>
  <content>
   <section class="wrapper">
    <article class="wizard-form">
      <form-wizard ref="formWizard" @on-change="afterChange" @on-complete="onComplete" title="" subtitle="" shape="tab" color="#dedede" error-color="#ff4949">
        <tab-content :title="$t('Vehicle information')" icon=" " :before-change="validateStep('vehicleInfoForm')">
          <app-vehicle-info-form ref="vehicleInfoForm" :model="wizard.vehicleInfo" :serviceRecommendation="wizard.serviceRecommendation"
          @handleSelect="handleSelect"></app-vehicle-info-form>
        </tab-content>
        <tab-content :title="$t('Driver and Owner information')" icon=" " :before-change="validateStep('driverOwnerForm')">
          <app-driver-owner-form ref="driverOwnerForm" :model="wizard.driverOwnerInfo"></app-driver-owner-form>
        </tab-content>
        <tab-content :title="$t('Vehicle Inspection')" icon=" " :before-change="validateStep('vehicleInspectionForm')">
          <app-vehicle-inspection-form ref="vehicleInspectionForm" :model="wizard.vehicleInspection"></app-vehicle-inspection-form>
        </tab-content>
        <tab-content :title="$t('Tyre Inspection')" icon=" " :before-change="validateStep('tyreInspectionForm')">
          <app-tyre-inspection-form ref="tyreInspectionForm" :model="wizard.tyreInspection" :vehicleInfo="{ type: wizard.vehicleInfo.vehicleType, brand: wizard.vehicleInfo.vehicleBrand, model: wizard.vehicleInfo.vehicleModel, configuration: wizard.vehicleInfo.vehicleTruckConfiguration }"
          @editVehicleInfo="editVehicleInfo">
        </app-tyre-inspection-form>
      </tab-content>
      <tab-content :title="$t('Job Worksheet')" icon=" " :before-change="validateStep('jobWorksheetForm')">
        <app-job-worksheet-form ref="jobWorksheetForm" :model="wizard.jobWorksheet" :VehicleInspection="wizard.vehicleInspection"></app-job-worksheet-form>
      </tab-content>
      <tab-content :title="$t('Service recommendation')" icon=" " :before-change="validateStep('serviceRecommendationForm')">
        <app-service-recommendation-form ref="serviceRecommendationForm"
        :model="wizard.serviceRecommendation"
        :vehicleInfo="wizard.vehicleInfo">
      </app-service-recommendation-form>
    </tab-content>
    <tab-content :title="$t('Review')" icon=" " :before-change="validateStep('reviewForm')">
      <app-review-form ref="reviewForm" :model="wizard"></app-review-form>
    </tab-content>
    <div slot="prev">
      <button type="button" title="Previous Step"><span>{{$t('Previous Step')}}</span></button>
    </div>
    <div slot="next" class="form-control mt-10">
      <button type="submit" class="action submit primary-button continue-button" title="Continue" @click="onErrors">
        <span>{{$t('Continue')}}</span>
      </button>
    </div>
    <div slot="finish" class="form-control mt-10" v-loading="saving">
      <button type="submit" class="action submit primary-button finish-button" title="Finish" @click="onErrors"><span>{{$t('Save job')}}</span></button>
    </div>

    <el-button class="exit-button" type="text" @click="dialogVisible = true">{{$t('Exit')}}</el-button>

    <el-dialog title="Warning!" :visible.sync="dialogVisible" width="480px">
      <p>{{$t('Your job sheet will not be saved.')}}</p>
      <p>{{$t('Would you like to exit?')}}</p>
      <p slot="footer" class="dialog-footer">
        <el-button type="primary" @click="onExit">{{$t('Exit without saving')}}</el-button>
        <el-button @click="dialogVisible = false">{{$t('No')}}</el-button>
      </p>
    </el-dialog>

    <el-dialog title="Warning!" :visible.sync="offlineDialogVisible" width="400px">
      <p>SMS content will not be updated as editing job card in offline.</p>
      <p slot="footer" class="dialog-footer">
        <el-button type="primary" @click="offlineDialogVisible = false">{{$t('OK')}}</el-button>
      </p>
    </el-dialog>

  </form-wizard>
</article>
</section>
</content>
</template>

<script>
import VehicleInfoForm from "@/components/wizard/vehicle-info-form";
import DriverOwnerForm from "@/components/wizard/driver-owner-form";
import VehicleInspectionForm from "@/components/wizard/vehicle-inspection-form";
import TyreInspectionForm from "@/components/wizard/tyre-inspection-form";
import JobWorksheetForm from "@/components/wizard/job-worksheet-form";
import TyreRecommendationForm from "@/components/wizard/tyre-recommendation-form";
import ServiceRecommendationForm from "@/components/wizard/service-recommendation-form";
import ReviewForm from "@/components/wizard/review-form";

import db from "@/utils/database";
import dateHelper from '@/utils/date-helper';

import { FormWizard, TabContent } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import axios from 'axios';
function initialWizardData() {
  return {
    vehicleInfo: {
      vehicleNumber: "",
      vehicleType: "",
      vehicleBrand: "",
      vehicleModel: "",
      vehicleLoading: "",
      vehicleTruckConfiguration: "",
      vehicleRoadApplication: "",
      vehicleTyreSize: "",
      vehicleSpeedoMeterReading: "",
      vehicleAverageMonthlyRunning: "",
      lastCheckDate: "",
      freeCheckUpUntil: "",
      isFreeCheckUp: ""
    },
    driverOwnerInfo: {
      driver: {
        name: "",
        contactNumber: "",
        preferredLanguage: "",
        fleetManagerName: "",
        fleetManagerContactNo: "",
        fleetManagerEmailAddress: "",
        fleetManagerLanguage: ""
      },
      owner: {
        companyName: "",
        street: "",
        city: "",
        pinCode: "",
        nbOfVehicleInFleet: "",
        name: "",
        contactNumber: "",
        emailAddress: "",
        preferredLanguage: ""
      }
    },
    vehicleInspection: {
      isToggle: false,
      kingPin: {
        selected: "",
        comment: ""
      },
      wheelBearing: {
        selected: "",
        comment: ""
      },
      stearingBallJoints: {
        selected: "",
        comment: ""
      },
      tieRod: {
        selected: "",
        comment: ""
      },
      steeringWheel: {
        selected: "",
        comment: ""
      },
      bushesLeafs: {
        selected: "",
        comment: ""
      },
      frontLeafSpring: {
        selected: "",
        comment: ""
      },
      rearLeafSpring: {
        selected: "",
        comment: ""
      },
      rimDisc: {
        selected: "",
        comment: ""
      }
    },
    tyreInspection: {
      isToggle: false,
      misalignment: {
        selected: "",
        comment: ""
      },
      patternMismatch: {
        selected: "",
        comment: ""
      },
      airPressureMismatch: {
        selected: "",
        comment: ""
      },
      discHolesMismatch: {
        selected: "",
        comment: ""
      },
      cutsAndDamagesInTyres: {
        selected: "",
        comment: ""
      },
      tyreRemovalForRetread: {
        selected: "",
        comment: ""
      }
    },
    jobWorksheet: {
      vehicleInspection: false,
      tyreInspection: false,
      alignment: false,
      chassisGreasing: false,
      airPressureCorrection: false,
      nitroFilling: false,
      retreading: false,
      tyreFitment: "",
      tyreRotation: "",
      swapping: "",
      tyreRepair: "",
      wheelBalancing: "",
      extensionValves: ""
    },
    tyreRecommendationForm: {},
    serviceRecommendation: {
      checkAlignment: "",
      freeCheckUpDays: "",
      freeCheckUpUntil: "",
      otherObservations: "",
      recommendations: ""
    },
    technicianName: "",
    isSentSuccess: false,
    cvzonename: "",
    cvzonesig: ""
  };
}

export default {
  components: {
    FormWizard: FormWizard,
    TabContent: TabContent,

    appVehicleInfoForm: VehicleInfoForm,
    appDriverOwnerForm: DriverOwnerForm,
    appVehicleInspectionForm: VehicleInspectionForm,
    appTyreInspectionForm: TyreInspectionForm,
    appJobWorksheetForm: JobWorksheetForm,
    appTyreRecommendationForm: TyreRecommendationForm,
    appServiceRecommendationForm: ServiceRecommendationForm,
    appReviewForm: ReviewForm
  },
  watch: {
    $route(to, from) {
      let nextTab = 0;
      if (to.hash) {
        nextTab = to.hash.replace("#step", "");
      }

      let formWizard = this.$refs.formWizard;
      if (formWizard.activeTabIndex != nextTab) {
        this.prevTab();
      }
    }
  },
  data: function() {
    return {
      cuid: require("cuid"),
      wizard: initialWizardData(),
      dialogVisible: false,
      offlineDialogVisible: false,
      saving: false,
      sendEmailUrl: process.env.sendEmailUrl
    };
  },
  methods: {
    afterChange(prevIndex, nextIndex) {
      let previousStep = "#step" + nextIndex;
      this.$router.push(previousStep);
    },
    prevTab() {
      let formWizard = this.$refs.formWizard;
      let cb = () => {
        if (formWizard.activeTabIndex > 0) {
          formWizard.setValidationError(null);
          formWizard.changeTab(
            formWizard.activeTabIndex,
            formWizard.activeTabIndex - 1,
            false
          );
        }
      };

      if (formWizard.validateOnBack) {
        formWizard.beforeTabChange(formWizard.activeTabIndex, cb);
      } else {
        cb();
      }
    },
    onComplete: function() {
      this.saving = true;
      // Remove unnecessary data
      delete this.wizard.vehicleInfo.lastCheckDate;
      delete this.wizard.vehicleInfo.isFreeCheckUp;

      this.createOrUpdateJobSheet(this.wizard)
        .then(() => {
          this.createOrUpdateVehicleInfo(
            this.wizard.vehicleInfo,
            this.wizard.driverOwnerInfo,
            this.wizard.serviceRecommendation.freeCheckUpUntil
          ).then(() => {
            this.createOrUpdateCompanyInfo(
              this.wizard.driverOwnerInfo.owner
            ).then(() => {
                this.saving = false;
                this.$notify({
                title: this.$t("Success"),
                message: this.$t("Save job successfully"),
                type: "success"
              });
              if(!this.$route.params.id)
              {
                this.sendEmail();
              }
              this.$router.push("/");
            });
          });
        })
        .catch(e => {
          this.saving = false;
          console.log(e);
        });
    },
    validateStep(form) {
      return () => this.$refs[form].validate();
    },
    createJobSheetId(vehicleNumber) {
      return `${vehicleNumber}_${Math.round(new Date().getTime() / 1000.0)}`;
    },
    generateNotificationContent(jobSheet){
      let content = {
        freeCheckup: dateHelper.isAfter(jobSheet.vehicleInfo.freeCheckUpUntil, new Date()) ? true : false,
        mechanicalFault: jobSheet.serviceRecommendation.otherObservations == 'Mechanical fault observed in your vehicle. Please fix the issue and come back for alignment' ? true : false,
        vehicleComments: [
          jobSheet.vehicleInspection.kingPin.comment,
          jobSheet.vehicleInspection.wheelBearing.comment,
          jobSheet.vehicleInspection.stearingBallJoints.comment,
          jobSheet.vehicleInspection.tieRod.comment,
          jobSheet.vehicleInspection.steeringWheel.comment,
          jobSheet.vehicleInspection.bushesLeafs.comment,
          jobSheet.vehicleInspection.frontLeafSpring.comment,
          jobSheet.vehicleInspection.rearLeafSpring.comment,
          jobSheet.vehicleInspection.rimDisc.comment].filter(v => v),
        vehicleCommentsTamil: [
          this.$t(jobSheet.vehicleInspection.kingPin.comment,'ta'),
          this.$t(jobSheet.vehicleInspection.wheelBearing.comment,'ta'),
          this.$t(jobSheet.vehicleInspection.stearingBallJoints.comment,'ta'),
          this.$t(jobSheet.vehicleInspection.tieRod.comment,'ta'),
          this.$t(jobSheet.vehicleInspection.steeringWheel.comment,'ta'),
          this.$t(jobSheet.vehicleInspection.bushesLeafs.comment,'ta'),
          this.$t(jobSheet.vehicleInspection.frontLeafSpring.comment,'ta'),
          this.$t(jobSheet.vehicleInspection.rearLeafSpring.comment,'ta'),
          this.$t(jobSheet.vehicleInspection.rimDisc.comment,'ta')].filter(v => v),
        tyreComments: [
          jobSheet.tyreInspection.misalignment.comment,
          jobSheet.tyreInspection.patternMismatch.comment,
          jobSheet.tyreInspection.airPressureMismatch.comment,
          jobSheet.tyreInspection.discHolesMismatch.comment,
          jobSheet.tyreInspection.cutsAndDamagesInTyres.comment,
          jobSheet.tyreInspection.tyreRemovalForRetread.comment].filter(v => v),
        tyreCommentsTamil: [
          this.$t(jobSheet.tyreInspection.misalignment.comment,'ta'),
          this.$t(jobSheet.tyreInspection.patternMismatch.comment,'ta'),
          this.$t(jobSheet.tyreInspection.airPressureMismatch.comment,'ta'),
          this.$t(jobSheet.tyreInspection.discHolesMismatch.comment,'ta'),
          this.$t(jobSheet.tyreInspection.cutsAndDamagesInTyres.comment,'ta'),
          this.$t(jobSheet.tyreInspection.tyreRemovalForRetread.comment,'ta')].filter(v => v),
        worksheetItems: [
          jobSheet.jobWorksheet.vehicleInspection == true ? 'Vehicle Inspection' : '',
          jobSheet.jobWorksheet.tyreInspection == true ? 'Tyre Inspection' : '',
          jobSheet.jobWorksheet.alignment == true ? 'Alignment' : '',
          jobSheet.jobWorksheet.chassisGreasing == true ? 'Chassis Greasing' : '',
          jobSheet.jobWorksheet.airPressureCorrection == true ? 'Air Pressure Correction' : '',
          jobSheet.jobWorksheet.nitroFilling == true ? 'Nitrogen Filling' : '',
          jobSheet.jobWorksheet.retreading == true ? 'Retreading' : '',
          !(jobSheet.jobWorksheet.tyreFitment == '' || jobSheet.jobWorksheet.tyreFitment == 0)
          ? jobSheet.jobWorksheet.tyreFitment + ' ' + 'Tyre Fitment' : '',
          !(jobSheet.jobWorksheet.tyreRotation == '' || jobSheet.jobWorksheet.tyreRotation == 0)
          ? jobSheet.jobWorksheet.tyreRotation + ' ' + 'Tyre Rotation' : '',
          !(jobSheet.jobWorksheet.swapping == '' || jobSheet.jobWorksheet.swapping == 0)
          ? jobSheet.jobWorksheet.swapping + ' ' + 'Swapping' : '',
          !(jobSheet.jobWorksheet.tyreRepair == '' || jobSheet.jobWorksheet.tyreRepair == 0)
          ? jobSheet.jobWorksheet.tyreRepair + ' ' + 'Tyre Repair' : '',
          !(jobSheet.jobWorksheet.wheelBalancing == '' || jobSheet.jobWorksheet.wheelBalancing == 0)
          ? jobSheet.jobWorksheet.wheelBalancing + ' ' + 'Wheel Balancing' : '',
          !(jobSheet.jobWorksheet.extensionValves == '' || jobSheet.jobWorksheet.extensionValves == 0)
          ? jobSheet.jobWorksheet.extensionValves + ' ' + 'Extension Valves' : '',].filter(v => v),
        worksheetItemsTamil: [
          jobSheet.jobWorksheet.vehicleInspection == true ? this.$t('Vehicle Inspection', 'ta') : '',
          jobSheet.jobWorksheet.tyreInspection == true ? this.$t('Tyre Inspection', 'ta') : '',
          jobSheet.jobWorksheet.alignment == true ? this.$t('Alignment', 'ta') : '',
          jobSheet.jobWorksheet.chassisGreasing == true ? this.$t('Chassis Greasing', 'ta') : '',
          jobSheet.jobWorksheet.airPressureCorrection == true ? this.$t('Air Pressure Correction', 'ta') : '',
          jobSheet.jobWorksheet.nitroFilling == true ? this.$t('Nitrogen Filling', 'ta') : '',
          jobSheet.jobWorksheet.retreading == true ? this.$t('Retreading', 'ta') : '',
          !(jobSheet.jobWorksheet.tyreFitment == '' || jobSheet.jobWorksheet.tyreFitment == 0)
          ? jobSheet.jobWorksheet.tyreFitment + ' ' + this.$t('Tyre Fitment', 'ta') : '',
          !(jobSheet.jobWorksheet.tyreRotation == '' || jobSheet.jobWorksheet.tyreRotation == 0)
          ? jobSheet.jobWorksheet.tyreRotation + ' ' + this.$t('Tyre Rotation', 'ta') : '',
          !(jobSheet.jobWorksheet.swapping == '' || jobSheet.jobWorksheet.swapping == 0)
          ? jobSheet.jobWorksheet.swapping + ' ' + this.$t('Swapping', 'ta') : '',
          !(jobSheet.jobWorksheet.tyreRepair == '' || jobSheet.jobWorksheet.tyreRepair == 0)
          ? jobSheet.jobWorksheet.tyreRepair + ' ' + this.$t('Tyre Repair', 'ta') : '',
          !(jobSheet.jobWorksheet.wheelBalancing == '' || jobSheet.jobWorksheet.wheelBalancing == 0)
          ? jobSheet.jobWorksheet.wheelBalancing + ' ' + this.$t('Wheel Balancing', 'ta') : '',
          !(jobSheet.jobWorksheet.extensionValves == '' || jobSheet.jobWorksheet.extensionValves == 0)
          ? jobSheet.jobWorksheet.extensionValves + ' ' + this.$t('Extension Valves', 'ta') : '',].filter(v => v),
        regnumber: jobSheet.vehicleInfo.vehicleNumber,
        driverLanguage: jobSheet.driverOwnerInfo.driver.preferredLanguage,
        fleetManagerLanguage: jobSheet.driverOwnerInfo.driver.fleetManagerLanguage,
        ownerLanguage: jobSheet.driverOwnerInfo.owner.preferredLanguage,
        cvzonename: this.cvzonename,
        cvzonephone: this.cvzonephone,
        cvzoneemail: this.cvzoneemail,
        cvzonesig: this.cvzonesig,
        driverNumber: jobSheet.driverOwnerInfo.driver.contactNumber,
        fleetManagerNumber: jobSheet.driverOwnerInfo.driver.fleetManagerContactNo,
        ownerNumber: jobSheet.driverOwnerInfo.owner.contactNumber,
        fleetManagerEmail: jobSheet.driverOwnerInfo.driver.fleetManagerEmailAddress,
        ownerEmail: jobSheet.driverOwnerInfo.owner.emailAddress,
        kingPin: this.$t(jobSheet.vehicleInspection.kingPin.comment,'ta'),
        wheelBearing: this.$t(jobSheet.vehicleInspection.wheelBearing.comment,'ta'),
        stearingBallJoints: this.$t(jobSheet.vehicleInspection.stearingBallJoints.comment,'ta'),
        tieRod: this.$t(jobSheet.vehicleInspection.tieRod.comment,'ta'),
        steeringWheel: this.$t(jobSheet.vehicleInspection.steeringWheel.comment,'ta'),
        bushesLeafs: this.$t(jobSheet.vehicleInspection.bushesLeafs.comment,'ta'),
        frontLeafSpring: this.$t(jobSheet.vehicleInspection.frontLeafSpring.comment,'ta'),
        rearLeafSpring: this.$t(jobSheet.vehicleInspection.rearLeafSpring.comment,'ta'),
        rimDisc: this.$t(jobSheet.vehicleInspection.rimDisc.comment,'ta'),
        misalignment: this.$t(jobSheet.tyreInspection.misalignment.comment,'ta'),
        patternMismatch: this.$t(jobSheet.tyreInspection.patternMismatch.comment,'ta'),
        airPressureMismatch: this.$t(jobSheet.tyreInspection.airPressureMismatch.comment,'ta'),
        discHolesMismatch: this.$t(jobSheet.tyreInspection.discHolesMismatch.comment,'ta'),
        cutsAndDamagesInTyres: this.$t(jobSheet.tyreInspection.cutsAndDamagesInTyres.comment,'ta'),
        tyreRemovalForRetread: this.$t(jobSheet.tyreInspection.tyreRemovalForRetread.comment,'ta'),
        otherObservations: this.$t(jobSheet.serviceRecommendation.otherObservations,'ta')
      };

      return content;
    },
    createOrUpdateJobSheet: function(jobSheet) {
      var obj = {};
      obj._id = this.$route.params.id
        ? this.$route.params.id
        : this.createJobSheetId(jobSheet.vehicleInfo.vehicleNumber);
      obj.version = 1;
      obj.type = "jobSheet";
      obj.createdAt = obj.createdAt || new Date().toISOString();
      obj.updatedAt = new Date().toISOString();
      obj.vehicleInfo = jobSheet.vehicleInfo;
      // obj.vehicleInfo.freeCheckUpUntil =
      //   jobSheet.serviceRecommendation.freeCheckUpUntil;
      obj.vehicleInfo.vehicleNumberCode = jobSheet.vehicleInfo.vehicleNumber.toLowerCase();

      obj.driverOwnerInfo = jobSheet.driverOwnerInfo;
      obj.vehicleInspection = jobSheet.vehicleInspection;
      obj.tyreInspection = jobSheet.tyreInspection;
      obj.serviceRecommendation = jobSheet.serviceRecommendation;
      obj.jobWorksheet = jobSheet.jobWorksheet;
      obj.technicianName = jobSheet.technicianName;
      obj.isSentSuccess = jobSheet.isSentSuccess;
      obj.notificationContent = this.generateNotificationContent(jobSheet);

      return db.jobCardDb
        .get(obj._id)
        .then(data => {
          obj._rev = data._rev;
          return db.jobCardDb.put(obj);
        })
        .catch(e => {
          return db.jobCardDb.put(obj);
        });
    },
    createOrUpdateVehicleInfo(vehicleInfo, driverOwnerInfo, freeCheckUpUntil) {
      let obj = JSON.parse(JSON.stringify(vehicleInfo));
      obj.vehicleNumberCode = obj.vehicleNumber.toLowerCase();

      obj._id = obj.vehicleNumberCode;
      obj.type = "vehicleInfo";
      obj.driverOwnerInfo = JSON.parse(JSON.stringify(driverOwnerInfo));
      obj.driverOwnerInfo.owner.companyId = this.generateCompanyId(obj.driverOwnerInfo.owner);
      obj.driverOwnerInfo.driver.zohoDriverID = "";
      obj.driverOwnerInfo.driver.zohoFleetID = "";
      obj.driverOwnerInfo.owner.zohoOwnerID = "";
      obj.syncToZoho = false;
      obj.updatedAt = new Date().toISOString();
      obj.freeCheckUpUntil = freeCheckUpUntil;
      obj.reminderSentAt = "";
      obj.reminderSent = false;

      return db.jobCardDb
        .get(obj._id)
        .then(data => {
          /* Update */
          obj.syncToZoho = false;
          obj._rev = data._rev;
          obj.createdAt = data.createdAt;
          obj.updatedAt = new Date().toISOString();
          return db.jobCardDb.put(obj);
        })
        .catch(e => {
          /* Create */
          obj.createdAt = new Date().toISOString();
          obj.updatedAt = new Date().toISOString();
          return db.jobCardDb.put(obj);
        });
    },
    generateCompanyId(companyInfo){
      return (companyInfo.companyName.toUpperCase() + ' - ' + companyInfo.name.toUpperCase() + ' - ' + companyInfo.contactNumber);
    },
    createOrUpdateCompanyInfo(CompanyInfo) {
      let obj = JSON.parse(JSON.stringify(CompanyInfo));

      obj._id = this.generateCompanyId(obj);
      obj.type = "companyInfo";
      obj.syncToZoho = false;
      obj.zohoCustomerID = "";
      obj.updatedAt = new Date().toISOString();
      obj.lastVisit = new Date().toISOString();
      return db.jobCardDb
        .get(obj._id)
        .then(data => {
          /* Update */
          obj.zohoCustomerID = data.zohoCustomerID;
          obj._rev = data._rev;
          obj.createdAt = data.createdAt;
          obj.updatedAt = new Date().toISOString();
          obj.lastVisit = new Date().toISOString();
          obj.syncToZoho = false;
          return db.jobCardDb.put(obj);
        })
        .catch(e => {
          /* Create */
          obj.createdAt = new Date().toISOString();
          obj.updatedAt = new Date().toISOString();
          return db.jobCardDb.put(obj);
        });
    },
    handleSelect(item) {
      this.wizard.driverOwnerInfo = item.driverOwnerInfo;
    },
    onExit() {
      this.$router.push({ name: "Dashboard" });
    },
    onErrors() {
      document.documentElement.scrollTop = 0;
    },
    editVehicleInfo() {
      this.$refs.formWizard.navigateToTab(0);
    },
     sendEmail: function() {
       let content = this.generateNotificationContent(this.wizard);
      axios.post(this.sendEmailUrl, {
        _id: this.createJobSheetId(this.wizard.vehicleInfo.vehicleNumber),
        vehicleInfo: this.wizard.vehicleInfo,
        driverOwnerInfo: this.wizard.driverOwnerInfo,
        vehicleInspection: this.wizard.vehicleInspection,
        tyreInspection: this.wizard.tyreInspection,
        serviceRecommendation: this.wizard.serviceRecommendation,
        jobWorksheet: this.wizard.jobWorksheet,
        isSendToCVZone:true,
        notificationContent : {
          freeCheckup: content.freeCheckup,
          mechanicalFault: content.mechanicalFault,
          vehicleComments: content.vehicleComments,
          vehicleCommentsTamil: content.vehicleCommentsTamil,
          tyreComments: content.tyreComments,
          tyreCommentsTamil: content.tyreCommentsTamil,
          worksheetItems: content.worksheetItems,
          worksheetItemsTamil: content.worksheetItemsTamil,
          kingPin: content.kingPin,
          wheelBearing: content.wheelBearing,
          stearingBallJoints: content.stearingBallJoints,
          tieRod: content.tieRod,
          steeringWheel: content.steeringWheel,
          bushesLeafs: content.bushesLeafs,
          frontLeafSpring: content.frontLeafSpring,
          rearLeafSpring: content.rearLeafSpring,
          rimDisc: content.rimDisc,
          misalignment: content.misalignment,
          patternMismatch: content.patternMismatch,
          airPressureMismatch: content.airPressureMismatch,
          discHolesMismatch: content.discHolesMismatch,
          cutsAndDamagesInTyres: content.cutsAndDamagesInTyres,
          tyreRemovalForRetread: content.tyreRemovalForRetread,
          otherObservations: content.otherObservations,
          regnumber: content.regnumber,
          driverLanguage: content.driverLanguage,
          fleetManagerLanguage: content.fleetManagerLanguage,
          ownerLanguage: content.ownerLanguage,
          cvzonename: content.cvzonename,
          cvzonephone: content.cvzonephone,
          cvzoneemail: content.cvzoneemail,
          cvzonesig: content.cvzonesig,
          fleetManagerEmail: content.fleetManagerEmail,
          ownerEmail: content.ownerEmail
        }
      },
      {
        headers: { apikey: "379e0063-b474-48a4-b66b-64e791e56694" }
      });
    }
  },
  mounted() {
    this.offlineDialogVisible = !navigator.onLine;

    let hash = this.$router.history.current.hash;

    if (hash && hash.startsWith("#step")) {
      this.$router.push({ name: this.$router.history.current.name });
    }

    if (this.$route.params.id) {
      db
        .getVehicleById(this.$route.params.id)
        .then(vehicle => {
          this.wizard.vehicleInfo = vehicle.vehicleInfo;
          this.wizard.vehicleInfo.lastCheckDate = vehicle.updatedAt;
          this.wizard.driverOwnerInfo = vehicle.driverOwnerInfo;
          this.wizard.vehicleInspection = vehicle.vehicleInspection;
          this.wizard.tyreInspection = vehicle.tyreInspection;
          this.wizard.serviceRecommendation = vehicle.serviceRecommendation;
          this.wizard.jobWorksheet = vehicle.jobWorksheet;
          this.wizard.technicianName = vehicle.technicianName;
        })
        .catch(() => {
          this.$router.push("/");
        });
    }
  },
  created() {
    db.getCVZoneInfo().then(cvzone => {
      this.cvzonename = cvzone.docs[0].cvzonename;
      this.cvzonephone = cvzone.docs[0].cvzonephone;
      this.cvzoneemail = cvzone.docs[0].cvzoneemail;
      this.cvzonesig = cvzone.docs[0].cvzonesig;
    })
  }
};
</script>

  <style>

</style>
