<template>
  <el-form :show-message="false" :model="inspection" :rules="inspectionRules" ref="inspectionForm">
    <div class="cf">
      <div class="col">
        <dl class="cf">
          <dt>{{$t(label)}}</dt>
          <el-form-item prop="selected" class="cf">
            <el-radio-group v-model="inspection.selected" :class="[{isInvalid: !isFormValid && inspection.selected == ''}]" @change="inspectionChanged" :disabled="isDisabled == true">
                <!-- <dd><el-radio label="true"></el-radio></dd>
                  <dd><el-radio label="false"></el-radio></dd> -->
                  <slot></slot>
                </el-radio-group>
              </el-form-item>
            </dl>
          </div>
          <div class="col ml-60">
            <el-form-item label=" " prop="comment">
              <el-select v-model="inspection.comment" placeholder="" :disabled="isFormInit || inspection.selected == 'true' || isDisabled == true">
                <el-option v-for="comment in comments" :key="comment" :label="$t(comment)" :value="comment"></el-option>
              </el-select>
            </el-form-item>
          </div>
        </div>
      </el-form>

    </template>

    <script>

    export default {
      props: ["label", "comments", "inspection", "isToggle"],
      computed: {
        isFormInit(){
          return this.inspection.selected == '';
        },
        isDisabled() {
          return this.isToggle == true;
        }
      },
      data: function() {
        var validateComment = (rule, value, callback) => {
          if(this.inspection.selected == 'false' && this.inspection.comment == '') {
            callback(new Error());
            return;
          }
          callback();
        };

        var validateInspection = (rule, value, callback) => {
          if(this.isToggle == false) {
            if(value == '') {
              callback(new Error());
              return;
            }
            callback();
          } else {
            callback();
          }
        };

        return {
          isFormValid: true,
          inspectionRules: {
            "selected": [
            { validator: validateInspection, trigger: "change" }
            ],
            'comment': [
            { validator: validateComment, trigger: 'change' }
            ]
          }
        };
      },
      methods: {
        inspectionChanged(ok){
          if (ok == 'true') {
            this.inspection.comment = '';
          } else {
            if (this.comments.length == 1) {
              this.inspection.comment = this.comments[0];
            }
          }
        },
        validate() {
          this.$refs.inspectionForm.validate(valid => {
            this.isFormValid = valid;
          });

          return this.isFormValid;
        },
        resetForm() {
          this.$refs.inspectionForm.resetFields();
        }
      }
    };
    </script>

    <style>
    .isInvalid .el-radio__inner {
      border-color: red;
    }
    </style>
