<template>
  <el-form :show-message="false" :model="model" :rules="jobWorksheetRules" ref="jobWorksheetForm">
    <h2>{{$t('Job Worksheet')}}</h2>
    <div v-if="!isFormValid" class="error-message">
      <h3>ERROR</h3>
      <p>{{$t('Please check the form fields highlighted in red below.')}}</p>
    </div>
    <div class="job-worksheet">
      <div class="cf">
        <div class="col">
          <h3>{{$t('Tick if provided')}}</h3>
          <div class="form-control">
            <el-form-item prop="vehicleInspection">
              <el-checkbox v-model="model.vehicleInspection" :disabled="notAlignment == true">{{$t('Vehicle Inspection')}}</el-checkbox>
            </el-form-item>
          </div>
          <div class="form-control">
            <el-form-item prop="tyreInspection">
              <el-checkbox v-model="model.tyreInspection" :disabled="notAlignment == true">{{$t('Tyre Inspection')}}</el-checkbox>
            </el-form-item>
          </div>
          <div class="form-control">
            <el-form-item prop="alignment">
              <el-checkbox v-model="model.alignment" :disabled="notAlignment == true">{{$t('Alignment')}}</el-checkbox>
            </el-form-item>
          </div>
          <div class="form-control">
            <el-form-item prop="chassisGreasing">
              <el-checkbox v-model="model.chassisGreasing">{{$t('Chassis Greasing')}}</el-checkbox>
            </el-form-item>
          </div>
          <div class="form-control">
            <el-form-item prop="airPressureCorrection">
              <el-checkbox v-model="model.airPressureCorrection">{{$t('Air Pressure Correction')}}</el-checkbox>
            </el-form-item>
          </div>
          <div class="form-control">
            <el-form-item prop="nitroFilling">
              <el-checkbox v-model="model.nitroFilling">{{$t('Nitrogen Filling')}}</el-checkbox>
            </el-form-item>
          </div>
          <div class="form-control">
            <el-form-item prop="retreading">
              <el-checkbox v-model="model.retreading">{{$t('Retreading')}}</el-checkbox>
            </el-form-item>
          </div>
        </div>
        <div class="col">
          <h3>{{$t('Input number of tyres')}}</h3>
          <el-form-item prop="tyreFitment">
            <dl class="number-tyres cf">
              <dt>{{$t('Tyre Fitment')}}</dt>
              <dd><el-input type="tel" class="min-input" v-model="model.tyreFitment"></el-input><span>{{$t('Tyres')}}</span></dd>
            </dl>
          </el-form-item>
          <el-form-item prop="tyreRotation">
            <dl class="number-tyres cf">
              <dt>{{$t('Tyre Rotation')}}</dt>
              <dd><el-input type="tel" class="min-input" v-model="model.tyreRotation"></el-input><span>{{$t('Tyres')}}</span></dd>
            </dl>
          </el-form-item>
          <el-form-item prop="swapping">
            <dl class="number-tyres cf">
              <dt>{{$t('Swapping')}}</dt>
              <dd><el-input type="tel" class="min-input" v-model="model.swapping"></el-input><span>{{$t('Tyres')}}</span></dd>
            </dl>
          </el-form-item>
          <el-form-item prop="tyreRepair">
            <dl class="number-tyres cf">
              <dt>{{$t('Tyre Repair')}}</dt>
              <dd><el-input type="tel" class="min-input" v-model="model.tyreRepair"></el-input><span>{{$t('Tyres')}}</span></dd>
            </dl>
          </el-form-item>
          <el-form-item prop="wheelBalancing">
            <dl class="number-tyres cf">
              <dt>{{$t('Wheel Balancing')}}</dt>
              <dd><el-input type="tel" class="min-input" v-model="model.wheelBalancing"></el-input><span>{{$t('Tyres')}}</span></dd>
            </dl>
          </el-form-item>
          <el-form-item prop="extensionValves">
            <dl class="number-tyres cf">
              <dt>{{$t('Extension Valves')}}</dt>
              <dd><el-input type="tel" class="min-input" v-model="model.extensionValves"></el-input><span>{{$t('Tyres')}}</span></dd>
            </dl>
          </el-form-item>
        </div>
      </div>
    </div>
  </el-form>
</template>

<script>
import Bus from "@/utils/event-bus";
export default {
  props: ['model', 'VehicleInspection'],
  created: function() {
    Bus.$on('RESET_ALIGNMENT', () => {
      this.resetForm()
    })
  },
  data: function () {
    let validateNbTyre = (rule, value, callback) => {
      let isValid = /^\d+$|^$/.test(value)
      if (isValid) {
        callback()
      } else {
        callback(new Error())
      }
    }
    return {
      isFormValid: true,
      jobWorksheetRules: {
        tyreFitment: [{
          trigger: 'change', validator: validateNbTyre
        }],
        tyreRotation: [{
          trigger: 'change', validator: validateNbTyre
        }],
        swapping: [{
          trigger: 'change', validator: validateNbTyre
        }],
        tyreRepair: [{
          trigger: 'change', validator: validateNbTyre
        }],
        wheelBalancing: [{
          trigger: 'change', validator: validateNbTyre
        }],
        extensionValves: [{
          trigger: 'change', validator: validateNbTyre
        }]
      }
    };
  },
  computed: {
    notAlignment() {
      return this.VehicleInspection.isToggle == true;
    }
  },
  methods: {
    validate () {
      return new Promise((resolve, reject) => {
        this.$refs.jobWorksheetForm.validate(valid => {
          this.isFormValid = valid
          resolve(valid)
        })
      })
    },
    resetForm() {
      this.model.alignment = false;
      this.model.vehicleInspection = false;
      this.model.tyreInspection = false
    }
  }
};
</script>

<style scoped>

</style>
