<template>
  <div>
    <slot name="review-header">
      <h2>{{$t('Review')}}</h2>
    </slot>
    <div v-if="!isFormValid" class="error-message">
      <h3>{{$t('ERROR')}}</h3>
      <p>{{$t('Please check the form fields highlighted in red below.')}}</p>
    </div>
    <div class="form-review pt-10" v-if="model.vehicleInfo">
      <div class="vehicle-driver-infomation">
        <div class="cf">
          <div class="col">
            <h3>{{$t('Customer information')}}</h3>
            <div class="mt-20">
              <p>{{model.driverOwnerInfo.owner.companyName}}</p>
              <p>{{model.driverOwnerInfo.owner.street}}</p>
              <p>{{model.driverOwnerInfo.owner.city}}</p>
              <p>{{model.driverOwnerInfo.owner.pinCode}}</p>
              <p>{{model.driverOwnerInfo.owner.nbOfVehicleInFleet}}</p>
              <p>{{model.driverOwnerInfo.owner.name}}</p>
              <p>{{model.driverOwnerInfo.owner.contactNumber}}</p>
              <p>{{model.driverOwnerInfo.owner.emailAddress}}</p>
              <p>{{model.driverOwnerInfo.owner.preferredLanguage}}</p>
            </div>
          </div>
          <div class="col">
            <p>&nbsp;</p>
          </div>
          <div class="col">
            <h3>{{$t('Technician Name')}}:</h3>
            <div class="mt-20">
              <i v-if="$route.params.id && !$route.fullPath.includes('/edit')">{{model.technicianName}}</i>
              <el-form v-else
              :model="model"
              ref="reviewForm"
              :rules="reviewFormRules"
              :show-message="false">
              <el-form-item label=" " prop="technicianName">
                <el-input type="text" v-model="model.technicianName">
                </el-input>
              </el-form-item>
            </el-form>

          </div>
        </div>
      </div>
      <div class="cf mt-30">
        <div class="col">
          <h3>{{$t('Vehicle information')}}</h3>
          <div class="mt-20">
            <p>{{model.vehicleInfo.vehicleNumber}}</p>
            <p>{{model.vehicleInfo.vehicleType}}</p>
            <p>{{model.vehicleInfo.vehicleBrand}}</p>
            <p>{{model.vehicleInfo.vehicleModel}}</p>
            <p>{{model.vehicleInfo.vehicleTruckConfiguration}}</p>
            <p>{{model.vehicleInfo.vehicleRoadApplication}}</p>
            <p>{{model.vehicleInfo.vehicleLoading}}</p>
            <p>{{model.vehicleInfo.vehicleTyreSize}}</p>
            <p>{{model.vehicleInfo.vehicleSpeedoMeterReading}}</p>
            <p>{{model.vehicleInfo.vehicleAverageMonthlyRunning}}</p>
            <template v-if="model.vehicleInfo.lastCheckDate">
              <p>{{model.vehicleInfo.lastCheckDate | dateformat}}</p>
              <p>{{isFreeCheckUp}}</p>
            </template>
          </div>
        </div>
        <div class="col">
          <h3>{{$t('Driver information')}}</h3>
          <div class="mt-20">
            <p>{{model.driverOwnerInfo.driver.name}}</p>
            <p>{{model.driverOwnerInfo.driver.contactNumber}}</p>
            <p>{{model.driverOwnerInfo.driver.preferredLanguage}}</p>
            <p>{{model.driverOwnerInfo.driver.fleetManagerName}}</p>
            <p>{{model.driverOwnerInfo.driver.fleetManagerContactNo}}</p>
            <p>{{model.driverOwnerInfo.driver.fleetManagerEmailAddress}}</p>
            <p>{{model.driverOwnerInfo.driver.fleetManagerLanguage}}</p>
          </div>
        </div>
      </div>
    </div>
    <div v-if="model.vehicleInspection.isToggle != true">
      <div class="vehicle-inspection mt-50">
        <h2>{{$t('Vehicle Inspection')}}</h2>
        <div class="pt-10">
          <ul>
            <li>
              <div class="cf">
                <div class="col">
                  <h3>{{$t('Vehicle parts inspection')}}</h3>
                </div>
                <div class="col ml-60">
                  <h3>{{$t('Comments')}}</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="cf">
                <div class="col">
                  <div class="form-control">
                    <dl class="cf">
                      <dt>&nbsp;</dt>
                      <dd><span class="inspection-label">{{$t('OK')}}</span>&nbsp;</dd>
                      <dd><span class="inspection-label">{{$t('Not OK')}}</span>&nbsp;</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="cf">
                <div class="col">
                  <div class="form-control">
                    <dl class="cf">
                      <dt>{{$t('King Pin')}}</dt>
                      <dd>
                        <span v-if="model.vehicleInspection.kingPin.selected == 'true' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                      <dd>
                        <span v-if="model.vehicleInspection.kingPin.selected == 'false' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="col ml-60">
                  <div class="form-control">
                    <p v-if="model.vehicleInspection.kingPin.comment">{{ $t(model.vehicleInspection.kingPin.comment) }}</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="cf">
                <div class="col">
                  <div class="form-control">
                    <dl class="cf">
                      <dt>{{$t('Wheel Bearing')}}</dt>
                      <dd>
                        <span v-if="model.vehicleInspection.wheelBearing.selected == 'true' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                      <dd>
                        <span v-if="model.vehicleInspection.wheelBearing.selected == 'false' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="col ml-60">
                  <div class="form-control">
                    <p v-if="model.vehicleInspection.wheelBearing.comment">{{ $t(model.vehicleInspection.wheelBearing.comment) }}</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="cf">
                <div class="col">
                  <div class="form-control">
                    <dl class="cf">
                      <dt>{{$t('Stearing Ball Joints')}}</dt>
                      <dd>
                        <span v-if="model.vehicleInspection.stearingBallJoints.selected == 'true' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                      <dd>
                        <span v-if="model.vehicleInspection.stearingBallJoints.selected == 'false' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="col ml-60">
                  <div class="form-control">
                    <p v-if="model.vehicleInspection.stearingBallJoints.comment">{{ $t(model.vehicleInspection.stearingBallJoints.comment) }}</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="cf">
                <div class="col">
                  <div class="form-control">
                    <dl class="cf">
                      <dt>{{$t('Tie Rod')}}</dt>
                      <dd>
                        <span v-if="model.vehicleInspection.tieRod.selected == 'true' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                      <dd>
                        <span v-if="model.vehicleInspection.tieRod.selected == 'false' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="col ml-60">
                  <div class="form-control">
                    <p v-if="model.vehicleInspection.tieRod.comment">{{ $t(model.vehicleInspection.tieRod.comment) }}</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="cf">
                <div class="col">
                  <div class="form-control">
                    <dl class="cf">
                      <dt>{{$t('Steering Wheel')}}</dt>
                      <dd>
                        <span v-if="model.vehicleInspection.steeringWheel.selected == 'true' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                      <dd>
                        <span v-if="model.vehicleInspection.steeringWheel.selected == 'false' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="col ml-60">
                  <div class="form-control">
                    <p v-if="model.vehicleInspection.steeringWheel.comment">{{ $t(model.vehicleInspection.steeringWheel.comment) }}</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="cf">
                <div class="col">
                  <div class="form-control">
                    <dl class="cf">
                      <dt>{{$t('Bushes In Leafs')}}</dt>
                      <dd>
                        <span v-if="model.vehicleInspection.bushesLeafs.selected == 'true' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                      <dd>
                        <span v-if="model.vehicleInspection.bushesLeafs.selected == 'false' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="col ml-60">
                  <div class="form-control">
                    <p v-if="model.vehicleInspection.bushesLeafs.comment">{{ $t(model.vehicleInspection.bushesLeafs.comment) }}</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="cf">
                <div class="col">
                  <div class="form-control">
                    <dl class="cf">
                      <dt>{{$t('Front Leaf Spring')}}</dt>
                      <dd>
                        <span v-if="model.vehicleInspection.frontLeafSpring.selected == 'true' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                      <dd>
                        <span v-if="model.vehicleInspection.frontLeafSpring.selected == 'false' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="col ml-60">
                  <div class="form-control">
                    <p v-if="model.vehicleInspection.frontLeafSpring.comment">{{ $t(model.vehicleInspection.frontLeafSpring.comment) }}</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="cf">
                <div class="col">
                  <div class="form-control">
                    <dl class="cf">
                      <dt>{{$t('Rear Leaf Spring')}}</dt>
                      <dd>
                        <span v-if="model.vehicleInspection.rearLeafSpring.selected == 'true' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                      <dd>
                        <span v-if="model.vehicleInspection.rearLeafSpring.selected == 'false' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="col ml-60">
                  <div class="form-control">
                    <p v-if="model.vehicleInspection.rearLeafSpring.comment">{{ $t(model.vehicleInspection.rearLeafSpring.comment) }}</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="cf">
                <div class="col">
                  <div class="form-control">
                    <dl class="cf">
                      <dt>{{$t('Rim Disc')}}</dt>
                      <dd>
                        <span v-if="model.vehicleInspection.rimDisc.selected == 'true' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                      <dd>
                        <span v-if="model.vehicleInspection.rimDisc.selected == 'false' " class="result-check is-checked"></span>
                        <span v-else class="result-check"></span>
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="col ml-60">
                  <div class="form-control">
                    <p v-if="model.vehicleInspection.rimDisc.comment">{{ $t(model.vehicleInspection.rimDisc.comment) }}</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tyre-inspection mt-50">
      <h2>{{$t('Tyre Inspection')}}</h2>
      <div v-if="model.vehicleInspection.isToggle != true" class="pt-10">
        <ul>
          <li>
            <div class="cf">
              <div class="col">
                <h3>{{$t('Tyre Inspection')}}</h3>
              </div>
              <div class="col ml-60">
                <h3>{{$t('Comments')}}</h3>
              </div>
            </div>
          </li>
          <li>
            <div class="cf">
              <div class="col">
                <div class="form-control">
                  <dl class="cf">
                    <dt>&nbsp;</dt>
                    <dd><span class="inspection-label">{{$t('Yes')}}</span>&nbsp;</dd>
                    <dd><span class="inspection-label">{{$t('No')}}</span>&nbsp;</dd>
                  </dl>
                </div>
              </div>

            </div>
          </li>
          <li>
            <div class="cf">
              <div class="col">
                <div class="form-control">
                  <dl class="cf">
                    <dt>{{$t('Misalignment')}}</dt>
                    <dd>
                      <span v-if="model.tyreInspection.misalignment.selected == 'false' " class="result-check is-checked"></span>
                      <span v-else class="result-check"></span>
                    </dd>
                    <dd>
                      <span v-if="model.tyreInspection.misalignment.selected == 'true' " class="result-check is-checked"></span>
                      <span v-else class="result-check"></span>
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="col ml-60">
                <div class="form-control">
                  <p v-if="model.tyreInspection.misalignment.comment">{{ $t(model.tyreInspection.misalignment.comment) }}</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cf">
              <div class="col">
                <div class="form-control">
                  <dl class="cf">
                    <dt>{{$t('Pattern Mismatch')}}</dt>
                    <dd>
                      <span v-if="model.tyreInspection.patternMismatch.selected == 'false' " class="result-check is-checked"></span>
                      <span v-else class="result-check"></span>
                    </dd>
                    <dd>
                      <span v-if="model.tyreInspection.patternMismatch.selected == 'true' " class="result-check is-checked"></span>
                      <span v-else class="result-check"></span>
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="col ml-60">
                <div class="form-control">
                  <p v-if="model.tyreInspection.patternMismatch.comment">{{ $t(model.tyreInspection.patternMismatch.comment) }}</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cf">
              <div class="col">
                <div class="form-control">
                  <dl class="cf">
                    <dt>{{$t('Air Pressure Mismatch')}}</dt>
                    <dd>
                      <span v-if="model.tyreInspection.airPressureMismatch.selected == 'false' " class="result-check is-checked"></span>
                      <span v-else class="result-check"></span>
                    </dd>
                    <dd>
                      <span v-if="model.tyreInspection.airPressureMismatch.selected == 'true' " class="result-check is-checked"></span>
                      <span v-else class="result-check"></span>
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="col ml-60">
                <div class="form-control">
                  <p v-if="model.tyreInspection.airPressureMismatch.comment">{{ $t(model.tyreInspection.airPressureMismatch.comment) }}</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cf">
              <div class="col">
                <div class="form-control">
                  <dl class="cf">
                    <dt>{{$t('Disc Holes Mismatch')}}</dt>
                    <dd>
                      <span v-if="model.tyreInspection.discHolesMismatch.selected == 'false' " class="result-check is-checked"></span>
                      <span v-else class="result-check"></span>
                    </dd>
                    <dd>
                      <span v-if="model.tyreInspection.discHolesMismatch.selected == 'true' " class="result-check is-checked"></span>
                      <span v-else class="result-check"></span>
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="col ml-60">
                <div class="form-control">
                  <p v-if="model.tyreInspection.discHolesMismatch.comment">{{ $t(model.tyreInspection.discHolesMismatch.comment) }}</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cf">
              <div class="col">
                <div class="form-control">
                  <dl class="cf">
                    <dt>{{$t('Cuts & Damages In Tyres')}}</dt>
                    <dd>
                      <span v-if="model.tyreInspection.cutsAndDamagesInTyres.selected == 'false' " class="result-check is-checked"></span>
                      <span v-else class="result-check"></span>
                    </dd>
                    <dd>
                      <span v-if="model.tyreInspection.cutsAndDamagesInTyres.selected == 'true' " class="result-check is-checked"></span>
                      <span v-else class="result-check"></span>
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="col ml-60">
                <div class="form-control">
                  <p v-if="model.tyreInspection.cutsAndDamagesInTyres.comment">{{ $t(model.tyreInspection.cutsAndDamagesInTyres.comment) }}</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="cf">
              <div class="col">
                <div class="form-control">
                  <dl class="cf">
                    <dt>{{$t('Tyres Which Can Be Removed For Retread?')}}</dt>
                    <dd>
                      <span v-if="model.tyreInspection.tyreRemovalForRetread.selected == 'false' " class="result-check is-checked"></span>
                      <span v-else class="result-check"></span>
                    </dd>
                    <dd>
                      <span v-if="model.tyreInspection.tyreRemovalForRetread.selected == 'true' " class="result-check is-checked"></span>
                      <span v-else class="result-check"></span>
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="col ml-60">
                <div class="form-control">
                  <p v-if="model.tyreInspection.tyreRemovalForRetread.comment">{{ $t(model.tyreInspection.tyreRemovalForRetread.comment) }}</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="pt-30">
        <h3>{{$t('Vehicle Chart')}}</h3>
        <div class="vehicle-chart">
          <div class="tyre-note">
            <p>{{$t('Front')}}</p>
          </div>
          <div class="tyre-diagram">
            <div class="tyre-axel" v-for="axel in axels" :key="axel.id">
              <div class="tyre-axel-wrap" :class="['tyre-quantity-' + axel.tyreQuantity, axel.type]">
                <div class="tyre-item" v-for="n in axel.wheelIds" :key="n">
                  <p>&nbsp;{{ model.tyreInspection['diagram1Tyre' + n + 'TyreBrand'] }}&nbsp;</p>
                  <p>&nbsp;{{ model.tyreInspection['diagram1Tyre' + n + 'AirPressure'] }}&nbsp;</p>
                  <p>&nbsp;{{ model.tyreInspection['diagram1Tyre' + n + 'treadDepth'] }}&nbsp;</p>
                </div>
                <div class="tyre-axel-type"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="job-worksheet mt-50">
      <h2>{{$t('Job Worksheet')}}</h2>
      <div class="cf pt-10">
        <div class="col">
          <h3>{{$t('Services')}}</h3>
          <ul>
            <li v-if="model.jobWorksheet.vehicleInspection">
              <p>{{$t('Vehicle Inspection')}}</p>
            </li>
            <li v-if="model.jobWorksheet.tyreInspection">
              <p>{{$t('Tyre Inspection')}}</p>
            </li>
            <li v-if="model.jobWorksheet.alignment">
              <p>{{$t('Alignment')}}</p>
            </li>
            <li v-if="model.jobWorksheet.chassisGreasing">
              <p>{{$t('Chassis Greasing')}}</p>
            </li>
            <li v-if="model.jobWorksheet.airPressureCorrection">
              <p>{{$t('Air Pressure Correction')}}</p>
            </li>
            <li v-if="model.jobWorksheet.nitroFilling">
              <p>{{$t('Nitrogen Filling')}}</p>
            </li>
            <li v-if="model.jobWorksheet.retreading">
              <p>{{$t('Retreading')}}</p>
            </li>
          </ul>
        </div>
        <div class="col">
          <h3>{{$t('Tyres Serviced')}}</h3>
          <ul>
            <li v-if="Number(model.jobWorksheet.tyreFitment) > 0">
              <dl class="number-tyres cf">
                <dt>{{$t('Tyre Fitment')}}</dt>
                <dd>{{model.jobWorksheet.tyreFitment}} <span>{{$t('Tyres')}}</span></dd>
              </dl>
            </li>
            <li v-if="Number(model.jobWorksheet.tyreRotation) > 0">
              <dl class="number-tyres cf">
                <dt>{{$t('Tyre Rotation')}}</dt>
                <dd>{{model.jobWorksheet.tyreRotation}} <span>{{$t('Tyres')}}</span></dd>
              </dl>
            </li>
            <li v-if="Number(model.jobWorksheet.swapping) > 0">
              <dl class="number-tyres cf">
                <dt>{{$t('Swapping')}}</dt>
                <dd>{{model.jobWorksheet.swapping}} <span>{{$t('Tyres')}}</span></dd>
              </dl>
            </li>
            <li v-if="Number(model.jobWorksheet.tyreRepair) > 0">
              <dl class="number-tyres cf">
                <dt>{{$t('Tyre Repair')}}</dt>
                <dd>{{model.jobWorksheet.tyreRepair}} <span>{{$t('Tyres')}}</span></dd>
              </dl>
            </li>
            <li v-if="Number(model.jobWorksheet.wheelBalancing) > 0">
              <dl class="number-tyres cf">
                <dt>{{$t('Wheel Balancing')}}</dt>
                <dd>{{model.jobWorksheet.wheelBalancing}} <span>{{$t('Tyres')}}</span></dd>
              </dl>
            </li>
            <li v-if="Number(model.jobWorksheet.extensionValves) > 0">
              <dl class="number-tyres cf">
                <dt>{{$t('Extension Valves')}}</dt>
                <dd>{{model.jobWorksheet.extensionValves}} <span>{{$t('Tyres')}}</span></dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tyre-recommendation mt-50">
      <h2>{{$t('Tyre Recommendations')}}</h2>
      <div class="pt-10">
        <table class="tyre-recommendation-list" id="tb">
          <tbody>
            <tr>
              <th style="text-align: left; font-weight: normal;">{{$t('Road Application')}}: <strong>{{ model.vehicleInfo.vehicleRoadApplication }}</strong></th>
              <th style="text-align: left; font-weight: normal;">{{$t('Loading ')}}: <strong>{{ model.vehicleInfo.vehicleLoading }}</strong></th>
              <th style="text-align: left; font-weight: normal;">{{$t('Tyre Size')}}: <strong>{{ model.vehicleInfo.vehicleTyreSize }}</strong></th>
            </tr>
            <tr v-for="recommendation in tyreRecommendations" :key="recommendation.id">
              <td>{{$t('Axle Position')}}: <strong>{{recommendation.position}}</strong></td>
              <td>{{$t('Recommended Radial Tyre')}}: <strong>{{recommendation.radialTyre}}</strong></td>
              <td>{{$t('Recommended Nylon Tyre')}}: <strong>{{recommendation.nylonTyre}}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="service-recommendation mt-50">
      <h2>{{$t('Service recommendation')}}</h2>
      <div class="pt-10">
        <ul>
          <li>
            <p v-html="$t('For rated load, keep air pressure of radial tyres to 130psi and nylon tyres to 120psi')"></p>
          </li>
          <li>
            <p>{{$t('Check Alignment When Running Reaches')}} <strong>{{model.serviceRecommendation.checkAlignment}}</strong>{{$t('(km)')}}</p>
          </li>
          <li>
           <p>{{$t('Free Check Up Until')}}: <strong>{{formatDateFreeCheckUp}}</strong></p>
         </li>
         <li>
          <p>{{$t('Other Observations and Recommendations')}}:</p>
          <p class="italic" v-if="model.serviceRecommendation.otherObservations == '<Open text box>'">{{model.serviceRecommendation.recommendations}}</p>
            <p class="italic" v-else-if="model.serviceRecommendation.otherObservations == 'N/A'"></p>
            <p class="italic" v-else>{{$t(model.serviceRecommendation.otherObservations)}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <slot name="edit-job"></slot>
</div>
</template>

<script>
import tyreRecommendationLookup from '@/utils/tyre-recommendation-lookup'
import dateHelper from '@/utils/date-helper'
import vehicleData from '@/utils/vehicle-data'

export default {
  props: ['model'],
  filters: {
    dateformat (date) {
      return dateHelper.formatDate(date, 'DD/MM/YYYY')
    }
  },
  computed: {
    tyreRecommendations () {
      if (!this.model.vehicleInfo.vehicleRoadApplication ||
        !this.model.vehicleInfo.vehicleLoading ||
        !this.model.vehicleInfo.vehicleTyreSize) {
        return null
    }

    var recommendationKey = this.model.vehicleInfo.vehicleRoadApplication.replace(/\s+/g, '').toLowerCase() + '_' +
    this.model.vehicleInfo.vehicleLoading.replace(/\s+/g, '').toLowerCase() + '_' +
    this.model.vehicleInfo.vehicleTyreSize.replace(/\s+/g, '').toLowerCase()

    var result = tyreRecommendationLookup.TYRE_RECOMMENDATION_LOOKUP
    .filter(lk => lk[recommendationKey])
    .map(item => {
      let id = recommendationKey + item[recommendationKey].position

      return {
        id: id,
        position: item[recommendationKey].position,
        radialTyre: item[recommendationKey].radialTyre,
        nylonTyre: item[recommendationKey].nylonTyre
      }
    })

    return result
  },
  formatDateFreeCheckUp () {
    if (this.model.serviceRecommendation.freeCheckUpDays && this.model.serviceRecommendation.freeCheckUpDays !== 'N/A') { 
      return dateHelper.formatDate(this.model.serviceRecommendation.freeCheckUpUntil) 
      } else { 
        return 'N/A' 
      }
  },
isFreeCheckUp () {
  return dateHelper.isAfter(this.model.vehicleInfo.freeCheckUpUntil, new Date()) ? 'Yes' : 'No'
},
axels () {
  let result = vehicleData(this.model.vehicleInfo.vehicleType, this.model.vehicleInfo.vehicleBrand, this.model.vehicleInfo.vehicleModel, this.model.vehicleInfo.vehicleTruckConfiguration)
  return result
}
},
data: function () {
  return {
    isFormValid: true,
    reviewFormRules: {
      technicianName: [
      { required: true, trigger: 'blur' }
      ]
    }
  }
},
methods: {
  validate () {
    return new Promise((resolve, reject) => {
      this.$refs.reviewForm.validate(valid => {
        this.isFormValid = valid
        resolve(valid)
      })
    })
  }
}
}
</script>

<style>

</style>
