<template>
  <el-form :model="model" :rules="serviceRecommendationRules" ref="serviceRecommendationForm">
   <h2>{{$t('Service recommendation')}}</h2>
   <div class="service-recommendation">
    <ul>
      <li>
        <p v-html="$t('For rated load, keep air pressure of radial tyres to 130psi and nylon tyres to 120psi')"></p>
      </li>
      <li>
        <dl class="cf">
          <dt>{{$t('Check Alignment When Running Reaches')}} {{$t('(km)')}}</dt>
          <dt>
            <strong> {{model.checkAlignment = vehicleInfo.vehicleSpeedoMeterReading + 10000}} </strong>
          </dt>
        </dl>
      </li>
      <li>
        <dl class="cf">
          <dt>{{$t('Free Check Up Until')}}</dt>
          <dd style="width: 180px;">
            <!-- <el-date-picker v-model="model.freeCheckUp" type="date" placeholder=""></el-date-picker> -->
            <el-select @change="onFreeCheckUpChange" v-model="model.freeCheckUpDays" placeholder="" :disabled="vehicleInfo.isFreeCheckUp === $t('Yes')" >
              <el-option label="N/A" value="N/A" seleted></el-option>
              <el-option :label="$t('15 days')" value="15 days"></el-option>
              <el-option :label="$t('30 days')" value="30 days"></el-option>
              <el-option :label="$t('40 days')" value="40 days"></el-option>
            </el-select>
          </dd>
          <dd style="width: 200px; padding: 10px">
            <span>{{formatDateFreeCheckUp}}</span>
          </dd>
        </dl>
      </li>
      <li>
        <dl class="cf">
          <dt>{{$t('Other Observations and Recommendations')}}</dt>
          <dd>
            <el-select v-model="model.otherObservations" @change="onRecommendationChange" placeholder="">
              <el-option :label="$t('Mechanical fault observed in your vehicle. Please fix the issue and come back for alignment')"
                         value="Mechanical fault observed in your vehicle. Please fix the issue and come back for alignment"></el-option>
              <el-option :label="$t('Problem observed but done alignment with Driver\'s and/or Owner\'s permission')"
                         value="Problem observed but done alignment with Driver's and/or Owner's permission"></el-option>
              <el-option :label="$t('As alignment carried out in empty vehicle, please tighten U bolts while loading the vehicle')"
                         value="As alignment carried out in empty vehicle, please tighten U bolts while loading the vehicle"></el-option>
              <el-option :label="$t('<Open text box>')" value="<Open text box>"></el-option>
            </el-select>
          </dd>
        </dl>
      </li>
      <li style="background: none;">
        <dl>
          <dt></dt>
          <dd>
            <el-input type="textarea"
                      :autosize="{ minRows: 5, maxRows: 20}"
                      v-model="model.recommendations"
                      v-if="model.otherObservations == '<Open text box>'">
            </el-input>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</el-form>
</template>

<script>
import dateHelper from '@/utils/date-helper'

export default {
  props: ['model', 'vehicleInfo'],
  computed: {
    formatDateFreeCheckUp () {
      if (this.model.freeCheckUpDays && (this.model.freeCheckUpDays !== 'N/A')) {
        return dateHelper.formatDate(this.model.freeCheckUpUntil)
      }
      return ''
    }
  },
  data: function () {
    return {
      serviceRecommendationRules: {
        freeCheckUp: ''
      }
    };
  },
  methods: {
    validate() {
      return new Promise((resolve) => {
        this.$refs.serviceRecommendationForm.validate(valid => {
          resolve(valid)
        })
      })
    },
    onFreeCheckUpChange () {
      let freeCheckUpDays = Number(this.model.freeCheckUpDays.split(' ')[0])
      if(this.model.freeCheckUpDays && (this.model.freeCheckUpDays !== 'N/A')) {
        this.model.freeCheckUpUntil = dateHelper.addDays(new Date(), freeCheckUpDays).toISOString()
        // this.vehicleInfo.freeCheckUpUntil = this.model.freeCheckUpUntil
      } else {
        this.model.freeCheckUpUntil = ''
        // this.vehicleInfo.freeCheckUpUntil = ''
      }
    },
    onRecommendationChange () {
      if (this.model.otherObservations !== '<Open text box>') {
        this.model.recommendations = ''
      }
    }
  }
}
</script>

<style>

</style>
