<template>
  <el-form :model="model" :rules="tyreRecommendationRules" ref="tyreRecommendationForm">
   <h2>Tyre Recommendation</h2>
   <div class="tyre-recommendation">
    <h3>{{$t('Tyre Recommendations')}}</h3>
    <table class="tyre-recommendation-list">
      <tbody>
        <tr>
          <td>
            <dl class="cf">
            <dt>Position</dt>
            <dd>
              <el-select class="w-140" v-model="model.tyrePosition" placeholder="">
                <el-option label="Position 1" value="Position 1" seleted></el-option>
                <el-option label="Position 2" value="Position 2"></el-option>
              </el-select>
            </dd>
          </dl>
        </td>
        <td>
          <dl class="cf">
            <dt>{{$t('Tyre Size')}}</dt>
            <dd>
              <el-select class="w-140" v-model="model.tyreSize" placeholder="">
                <el-option label="Tyre Size 1" value="Tyre Size 1" seleted></el-option>
                <el-option label="Tyre Size 2" value="Tyre Size 2"></el-option>
              </el-select>
            </dd>
          </dl>
        </td>
        <td>
          <el-input class="w-140" v-model="model.tyreBrand" :placeholder="$t('Tyre Brand')"></el-input></td>
          <td>
            <dl class="cf">
              <dt>{{$t('Air Pressure (Psi)')}}</dt>
              <dd>
                <el-input class="min-input" v-model="model.tyreAirPressure"></el-input>
              </dd>
            </dl>
          </td>
          <td><a class="action-button add-button">Add</a><a class="action-button remove-button">Remove</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</el-form>
</template>

<script>
export default {
  props: ["model"],
  data: function() {
    return {
      tyreRecommendationRules: {

      }
    };
  },
  methods: {
    validate() {
      return new Promise((resolve, reject) => {
        this.$refs.tyreRecommendationForm.validate(valid => {
          resolve(valid);
        });
      });
    }
  }
};
</script>

<style>

</style>
