<template>
  <el-form :model="model" :rules="tyreInspectionRules" ref="tyreInspectionForm">
    <h2>{{$t('Tyre Inspection')}}</h2>
    <div v-if="!isFormValid" class="error-message">
     <h3>ERROR</h3>
     <p>{{$t('Please check the form fields highlighted in red below.')}}</p>
   </div>
   <div class="tyre-inspection">
    <div>
      <ul>
        <li>
          <div class="cf">
            <div class="col">
              <h3>{{$t('Tyre Inspection')}}</h3>
            </div>
            <div class="col ml-60">
              <h3>{{$t('Comments')}}</h3>
            </div>
          </div>
        </li>
        <li>
          <div class="cf">
            <div class="col">
              <div class="form-control">
                <dl class="cf">
                  <dt>&nbsp;</dt>
                  <dd><span class="inspection-label">{{$t('Yes')}}</span>&nbsp;</dd>
                  <dd><span class="inspection-label">{{$t('No')}}</span>&nbsp;</dd>
                </dl>
              </div>
            </div>

          </div>
        </li>
        <!--<li v-for="item in tyreInspections" :key="item.inspectionName">-->
          <!--<app-inspection-part :label="item.inspectionName" :comments="item.comments" :inspection="item.inspection">-->
            <!--<dd><el-radio label="false"></el-radio></dd>-->
            <!--<dd><el-radio label="true"></el-radio></dd>-->
          <!--</app-inspection-part>-->
        <!--</li>-->

        <li>
          <app-inspection-part ref="misalignment" label="Misalignment"
                               :comments="['Uneven wear in tyres due to misalignment']"
                               :inspection="model.misalignment"
                               :isToggle="model.isToggle">
            <dd><el-radio label="false"></el-radio></dd>
            <dd><el-radio label="true"></el-radio></dd>
          </app-inspection-part>

          <app-inspection-part ref="patternMismatch" label="Pattern Mismatch"
                               :comments="['Radial and Nylon tyres on same axle', 'Steering pattern tyres at drive axle', 'Drive pattern tyres at steering axle']"
                               :inspection="model.patternMismatch"
                               :isToggle="model.isToggle">
            <dd><el-radio label="false"></el-radio></dd>
            <dd><el-radio label="true"></el-radio></dd>
          </app-inspection-part>

          <app-inspection-part ref="airPressureMismatch" label="Air Pressure Mismatch"
                               :comments="['Mismatch of air pressure in dual tyres', 'Uneven pressure in tyres']"
                               :inspection="model.airPressureMismatch"
                               :isToggle="model.isToggle">
            <dd><el-radio label="false"></el-radio></dd>
            <dd><el-radio label="true"></el-radio></dd>
          </app-inspection-part>

          <app-inspection-part ref="discHolesMismatch" label="Disc Holes Mismatch"
                               :comments="['Holes mismatch in outer & inner tyres', 'Non accessibilty of inner tyre valves (Inner tyre valves bent and touches the rim)']"
                               :inspection="model.discHolesMismatch"
                               :isToggle="model.isToggle">
            <dd><el-radio label="false"></el-radio></dd>
            <dd><el-radio label="true"></el-radio></dd>
          </app-inspection-part>

          <app-inspection-part ref="cutsAndDamagesInTyres" label="Cuts & Damages In Tyres"
                               :comments="['Cuts and damages observed in tyres']"
                               :inspection="model.cutsAndDamagesInTyres"
                               :isToggle="model.isToggle">
            <dd><el-radio label="false"></el-radio></dd>
            <dd><el-radio label="true"></el-radio></dd>
          </app-inspection-part>

          <app-inspection-part ref="tyreRemovalForRetread" label="Tyres Which Can Be Removed For Retread?"
                               :comments="['Depth is less than 1.5mm. Tyres should be removed now for retreading']"
                               :inspection="model.tyreRemovalForRetread"
                               :isToggle="model.isToggle">
            <dd><el-radio label="false"></el-radio></dd>
            <dd><el-radio label="true"></el-radio></dd>
          </app-inspection-part>

        </li>
      </ul>
    </div>
    <div class="pt-50">
      <h3>{{$t('Vehicle Chart')}}</h3>
      <div class="vehicle-chart">
        <div class="vehicle-hint">
          <p>{{$t('Vehicle Type')}}: {{ vehicleInfo.type }}, {{$t('Vehicle Brand')}}: {{ vehicleInfo.brand }}, {{$t('Vehicle Model')}}: {{ vehicleInfo.model }}, {{$t('Vehicle Configuration')}}: {{ vehicleInfo.configuration }} <a href="" class="edit-link"><span @click.prevent="editVehicleInfo">{{$t('Edit')}}</span></a></p>
        </div>
        <div class="tyre-note">
          <p>{{$t('Front')}}</p>
        </div>
        <div class="tyre-diagram">
          <div class="tyre-axel" v-for="axel in axels" :key="axel.id">
            <div class="tyre-axel-wrap" :class="['tyre-quantity-' + axel.tyreQuantity, axel.type]">
              <div class="tyre-item" v-for="n in axel.wheelIds" :key="n">
                <el-form-item :prop="'diagram1Tyre' + n + 'TyreBrand'" label="">
                  <el-select v-model="model['diagram1Tyre' + n + 'TyreBrand']" :placeholder="$t('Tyre Brand')">
                    <el-option label="Apollo" value="Apollo" seleted></el-option>
                    <el-option label="MRF" value="MRF"></el-option>
                    <el-option label="JK" value="JK"></el-option>
                    <el-option label="CEAT" value="CEAT"></el-option>
                    <el-option label="Birla" value="Birla"></el-option>
                    <el-option label="Michelin" value="Michelin"></el-option>
                    <el-option label="Bridgestone" value="Bridgestone"></el-option>
                    <el-option label="Continental" value="Continental"></el-option>
                    <el-option label="Chinese" value="Chinese"></el-option>
                    <el-option label="Retread" value="Retread"></el-option>
                    <el-option label="Others" value="Others"></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item :prop="'diagram1Tyre' + n + 'AirPressure'" label="">
                  <el-input type="number" v-model="model['diagram1Tyre' + n + 'AirPressure']" :placeholder="$t('Air Pressure (Psi)')"></el-input>
                </el-form-item>
                <el-form-item :prop="'diagram1Tyre' + n + 'treadDepth'" label="">
                  <el-input type="number" v-model="model['diagram1Tyre' + n + 'treadDepth']" :placeholder="$t('Tread Depth')"></el-input>
                </el-form-item>
              </div>
              <div class="tyre-axel-type"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</el-form>
</template>

<script>
import InspectionPart from "@/components/wizard/inspection-part";
import vehicleData from "@/utils/vehicle-data";
import EventBus from "@/utils/event-bus";
var _ = require('lodash');

export default {
  props: ["model", "vehicleInfo"],
  components: {
    appInspectionPart: InspectionPart
  },
  data: function() {
    return {
      isFormValid: true,
      requestChangeValue: false,
      tyreInspections: [
      {
        inspectionName:'Misalignment *', comments: ['Uneven wear in tyres due to misalignment'], inspection: this.model.misalignment
      },
      {
        inspectionName:'Pattern Mismatch *', comments: ['Steering pattern tyres at housing axles and housing axle tyres at front', 'Radial and Nylon tyres on same axle'], inspection: this.model.patternMismatch
      },
      {
        inspectionName:'Air Pressure Mismatch *', comments: ['Uneven pressure in tyres'], inspection: this.model.airPressureMismatch
      },
      {
        inspectionName:'Disc Holes Mismatch *', comments: ['Holes mismatch in outer & inner tyres', 'Mismatch of air pressure in dual fitment tyres', 'Non accessibilty of inner tyre valves (Inner tyre valves bent and touches the rim)'], inspection: this.model.discHolesMismatch
      },
      {
        inspectionName:'Cuts & Damages In Tyres *', comments: ['Cuts and damages observed in tyres'], inspection: this.model.cutsAndDamagesInTyres
      },
      {
        inspectionName:'Tyres Which Can Be Removed For Retread? *', comments: ['Depth is less than 1.5mm. Tyres should be removed now for retreading'], inspection: this.model.tyreRemovalForRetread
      }
      ],
      tyreInspectionRules: {}
    };
  },
  methods: {
    validate() {
      return new Promise((resolve, reject) => {
        this.isFormValid = true;

        this.$refs.tyreInspectionForm.$children.forEach(c => {
          let valid = c.validate();
          if(!valid){
            this.isFormValid = false;
            return;
          }
        });

        resolve(this.isFormValid);
      });
    },
    editVehicleInfo() {
      this.$emit('editVehicleInfo');
    }
  },
  computed: {
    axels() {
      let result = vehicleData(this.vehicleInfo.type, this.vehicleInfo.brand, this.vehicleInfo.model, this.vehicleInfo.configuration);
      return result;
    }
  },
  mounted() {
    EventBus.$on('DISABLE_STEP', () => {
      this.model.isToggle = true;
      this.$refs.misalignment.resetForm();
      this.$refs.patternMismatch.resetForm();
      this.$refs.airPressureMismatch.resetForm();
      this.$refs.discHolesMismatch.resetForm();
      this.$refs.cutsAndDamagesInTyres.resetForm();
      this.$refs.tyreRemovalForRetread.resetForm();
    });
    EventBus.$on('ENABLE_STEP', () => {
      this.model.isToggle = false;
    });
    EventBus.$on("ON_CHANGE_VALUE", () => {
      // Reset Diagram
      _.forOwn(this.model, (value, key) => {
          if(_.startsWith(key, ["diagram1Tyre"])){
            console.log("reset" + key);
            this.model[key] = "";
          }
        });
    });
  }
};
</script>

<style>

</style>
