<template>
  <el-form :show-message="false" :model="model"
           :rules="vehicleInfoRules"
           ref="vehicleInfoForm"
           :disabled="!isFormEditable">
   <h2>{{$t('Vehicle information')}}</h2>
   <div v-if="!isFormValid" class="error-message">
     <h3>{{$t('ERROR')}}</h3>
     <p>{{$t('Please check the form fields highlighted in red below.')}}</p>
   </div>

   <div class="vehicle-information">
    <el-form-item label=" " prop="vehicleNumber" >
      <el-autocomplete
        :value="model.vehicleNumber"
        @input.native="input"
        @paste.native="paste"
        @keydown.native="keydownHandler"
        :placeholder="$t('Vehicle Registration Number')"
        :fetch-suggestions="querySearch"
        :debounce=500
        @select="handleSelect"
        value-key="vehicleNumber"
        :trigger-on-focus="false"
        suffix-icon="el-icon-search"
      ></el-autocomplete>
    </el-form-item>

    <el-form-item label=" " prop="vehicleType">
      <el-select v-model="model.vehicleType"
                 @change="onChangeType()"
                 :placeholder="$t('Vehicle Type')">
        <el-option v-for="vehType in types" :key="vehType" :label="vehType" :value="vehType"></el-option>
      </el-select>
    </el-form-item>

    <el-form-item label=" " prop="vehicleBrand" :class="{required : brands.length}">
      <el-select v-model="model.vehicleBrand"
                  @change="onChangeBrand()"
                 :disabled="!brands.length"
                 :placeholder="$t('Vehicle Brand')">
        <el-option v-for="brand in brands" :key="brand" :label="brand" :value="brand"></el-option>
      </el-select>
    </el-form-item>

    <el-form-item label=" " prop="vehicleModel" :class="{required : models.length}">
      <el-select v-model="model.vehicleModel"
                 @change="onChangeModel()"
                 :disabled="!models.length"
                 :placeholder="$t('Vehicle Model')">
        <el-option v-for="model in models" :key="model" :label="model" :value="model"></el-option>
      </el-select>
    </el-form-item>

    <el-form-item label=" " prop="vehicleTruckConfiguration" class="required">
      <el-select v-model="model.vehicleTruckConfiguration"
                  @change="onChangeTruckConfig()"
                 :disabled="!vehicleConfigs.length"
                 :placeholder="$t('Vehicle Configuration')">
        <el-option v-for="config in vehicleConfigs" :key="config" :label="config" :value="config"></el-option>

      </el-select>
    </el-form-item>

     <el-form-item label=" " prop="vehicleRoadApplication">
       <el-select v-model="model.vehicleRoadApplication"
                  :placeholder="$t('Road Application')"
                  @change="onRoadApplicationChange()">
         <el-option v-for="road in roadApplications" :key="road" :label="road" :value="road"></el-option>
       </el-select>
     </el-form-item>

    <el-form-item label=" " prop="vehicleLoading">
      <el-select v-model="model.vehicleLoading"
                 :placeholder="$t('Loading')"
                 :disabled="!vehLoadings.length"
                  @change="onLoadingChange">
        <el-option v-for="loading in vehLoadings" :key="loading" :label="loading" :value="loading"></el-option>
      </el-select>
    </el-form-item>

    <el-form-item label=" " prop="vehicleTyreSize">
      <el-select v-model="model.vehicleTyreSize"
                 :disabled="!vehicleTyreSizes.length"
                 :placeholder="$t('Tyre Size')">
        <el-option v-for="size in vehicleTyreSizes" :key="size" :label="size" :value="size"></el-option>
      </el-select>
    </el-form-item>

    <el-form-item label=" " prop="vehicleSpeedoMeterReading">
      <el-input type="number"
                v-model.number="model.vehicleSpeedoMeterReading"
                :placeholder="$t('Speedo Meter Reading (in km)')">
                </el-input>
    </el-form-item>
    <el-form-item label=" " prop="vehicleAverageMonthlyRunning">
      <el-input type="number"
                v-model.number="model.vehicleAverageMonthlyRunning"
                :placeholder="$t('Average Monthly Running (in km)')">
                </el-input>
    </el-form-item>

     <template v-if="model.lastCheckDate">
       <div class="form-control">
         <dl class="date-list">
           <dt>{{$t('Last Checkup Date')}}</dt>
           <dd class="bold">{{model.lastCheckDate | dateformat}}</dd>
         </dl>
       </div>
       <div class="form-control">
         <dl class="date-list">
           <dt>{{$t('Free check up?')}}</dt>
           <dd class="bold">{{isFreeCheckUp}}</dd>
         </dl>
       </div>
     </template>

</div>

  <div class="wizard-card-footer wizard-footer-right" v-if="!isFormEditable">
    <div class="form-control mt-10">
      <button @click.prevent="dialogVisible = true" class="action submit primary-button continue-button">{{$t('Change value')}}</button>
    </div>
  </div>

  <el-dialog title="Warning!" :visible.sync="dialogVisible" width="400px">
    <p>If you edit the information on this step, the vehicle chart and type recommendation will be reloaded.</p>
    <p slot="footer" class="dialog-footer">
      <button type="button" @click="changeVehInfo" class="el-button el-button--primary">{{$t('Yes')}}</button>
      <button type="button" @click="dialogVisible = false;" class="el-button el-button--default">{{$t('No')}}</button>
    </p>
  </el-dialog>
</el-form>
</template>

<script>
import vehicleRelationship from "@/utils/vehicle-config-relationship";
import dateHelper from "@/utils/date-helper";
import db from "@/utils/database";
import EventBus from "@/utils/event-bus";

export default {
  props: ["model", "serviceRecommendation"],
  filters: {
    dateformat(date) {
      return dateHelper.formatDate(date);
    }
  },
  computed: {
    isFreeCheckUp() {
      let isStillFree = dateHelper.isAfter(
        this.model.freeCheckUpUntil,
        new Date()
      )
        ? this.$t("Yes")
        : this.$t("No");
      this.model.isFreeCheckUp = isStillFree;
      if(isStillFree === this.$t("Yes")){
        this.serviceRecommendation.freeCheckUpDays = "N/A";
      }
      
      return isStillFree;
    }
  },
  data: function() {
    var validationBrand = (rule, value, callback) => {
      if (this.brands.length === 0) {
        callback();
      } else if (this.model.vehicleBrand === "") {
        callback(new Error("vehicleBrand is required"));
      } else {
        callback();
      }
    };
    var validateModel = (rule, value, callback) => {
      if (this.models.length === 0) {
        callback();
      } else if (this.model.vehicleModel === "") {
        callback(new Error("vehicleModel is required"));
      } else {
        callback();
      }
    };
    return {
      isFormValid: true,
      isFormEditable: true,
      dialogVisible: false,
      types: [],
      brands: [],
      models: [],
      vehicleConfigs: [],
      roadApplications: [],
      vehLoadings: [],
      vehicleTyreSizes: [],
      vehicleInfoRules: {
        vehicleNumber: [
          {
            required: true,
            trigger: "blur"
          }
        ],
        vehicleType: [
          {
            required: true,
            trigger: "change"
          }
        ],
        vehicleBrand: [
          {
            validator: validationBrand,
            trigger: "change"
          }
        ],
        vehicleModel: [
          {
            validator: validateModel,
            trigger: "change"
          }
        ],
        vehicleTruckConfiguration: [
          {
            required: true,
            trigger: "change"
          }
        ],
        vehicleSpeedoMeterReading: [
          {
            required: true,
            type: "number",
            min: 1,
            trigger: "blur"
          }
        ],
        vehicleAverageMonthlyRunning: [
          {
            required: true,
            type: "number",
            min: 1,
            trigger: "blur"
          }
        ],       
      }
    };
  },
  created: function() {
    this.types = vehicleRelationship.getAllType();
    this.roadApplications = vehicleRelationship.getRoadApplications();

    if (this.$route.params.id) {
      this.isFormEditable = false;
      var unwatch = this.$watch("model.vehicleType", function() {
        let brand = this.model.vehicleBrand
        let model = this.model.vehicleModel
        let config = this.model.vehicleTruckConfiguration
        let loading = this.model.vehicleLoading
        let tyreSize = this.model.vehicleTyreSize

        this.onChangeType();

        this.model.vehicleBrand = brand;
        this.onChangeBrand();

        this.model.vehicleModel = model;
        this.onChangeModel();

        this.model.vehicleTruckConfiguration = config;

        this.onRoadApplicationChange()
        this.model.vehicleLoading = loading

        this.onLoadingChange()
        this.model.vehicleTyreSize = tyreSize

        unwatch();
      });
    }
  },
  methods: {
    validate() {
      return new Promise((resolve, reject) => {
        this.$refs.vehicleInfoForm.validate(valid => {
          this.isFormValid = valid;
          this.isFormEditable = !valid;
          resolve(valid);
        });
      });
    },    
    onChangeType() {
      this.model.vehicleBrand = "";
      this.model.vehicleModel = "";
      this.model.vehicleTruckConfiguration = "";

      this.models = [];
      this.vehicleConfigs = [];

      this.brands = vehicleRelationship.getBrandsByType(this.model.vehicleType);
      if (this.brands.length === 0) {
        this.vehicleConfigs = vehicleRelationship.getConfigs(
          this.model.vehicleType,
          this.model.vehicleBrand,
          this.model.vehicleModel
        );
        if (this.vehicleConfigs.length == 1) {
          this.model.vehicleTruckConfiguration = this.vehicleConfigs[0];
          // this.$refs.vehicleInfoForm.validateField("vehicleTruckConfiguration");
        }
      }

      EventBus.$emit('ON_CHANGE_VALUE');
    },
    onChangeBrand() {
      this.model.vehicleModel = "";
      this.model.vehicleTruckConfiguration = "";

      this.vehicleConfigs = [];

      this.models = vehicleRelationship.getModels(
        this.model.vehicleType,
        this.model.vehicleBrand
      );
      if (
        this.model.vehicleBrand === "Volvo" ||
        this.model.vehicleBrand === "Scania" ||
        this.model.vehicleBrand === "Mercedes" ||
        this.model.vehicleBrand === "Ashok Leyland" ||
        this.model.vehicleBrand === "MAN" ||
        this.model.vehicleBrand === "IML Isuzu" ||
        this.model.vehicleBrand === "Others"
      ) {
        this.onChangeModel();
      }

      EventBus.$emit('ON_CHANGE_VALUE');
    },
    onChangeModel() {
      this.model.vehicleTruckConfiguration = "";
      this.vehicleConfigs = vehicleRelationship.getConfigs(
        this.model.vehicleType,
        this.model.vehicleBrand,
        this.model.vehicleModel
      );
      if (this.vehicleConfigs.length == 1) {
        this.model.vehicleTruckConfiguration = this.vehicleConfigs[0];
        // this.$refs.vehicleInfoForm.validateField("vehicleTruckConfiguration");
      }

      EventBus.$emit('ON_CHANGE_VALUE');
    },
    onChangeTruckConfig() {
      EventBus.$emit('ON_CHANGE_VALUE');
    },
    onRoadApplicationChange () {
      this.vehLoadings = vehicleRelationship.getLoadingByRoadApplication(this.model.vehicleRoadApplication);
      this.vehicleTyreSizes = []
      this.model.vehicleLoading = ''
      this.model.vehicleTyreSize = ''
    },
    onLoadingChange () {
      this.vehicleTyreSizes = vehicleRelationship.getTyreSizeByLoading(this.model.vehicleRoadApplication, this.model.vehicleLoading);
      this.model.vehicleTyreSize = ''
    },
    querySearch(queryString, cb) {
      queryString = queryString.replace(/[\W\s]+/g, "");
      this.getVehicleInfoByRegistedNumber(queryString)
        .then(results => {
          if (results.length === 0) {
            this.model.lastCheckDate = "";
            this.model.freeCheckUpUntil = "";
            this.model.isFreeCheckUp = "";
          }
          cb(results);
        })
        .catch(err => {
          cb([]);
        });
    },
    /**
     * Binding data to model corresponding the vehicle existed in the database
     *
     * @param {Object} item
     */
    handleSelect(item) {
      this.model.vehicleNumber = item.vehicleNumber;
      this.model.vehicleType = item.vehicleType;

      if (item.vehicleBrand) {
        this.model.vehicleBrand = item.vehicleBrand;
        this.brands = vehicleRelationship.getBrandsByType(
          this.model.vehicleType
        );
      } else {
        this.onChangeType();
      }

      if (item.vehicleModel) {
        this.model.vehicleModel = item.vehicleModel;
        this.models = vehicleRelationship.getModels(
          this.model.vehicleType,
          this.model.vehicleBrand
        );
      } else {
        this.onChangeBrand();
      }

      if (item.vehicleTruckConfiguration) {
        this.model.vehicleTruckConfiguration =
          item.vehicleTruckConfiguration;
        this.vehicleConfigs = vehicleRelationship.getConfigs(
          this.model.vehicleType,
          this.model.vehicleBrand,
          this.model.vehicleModel
        );
      } else {
        this.onChangeModel();
      }

      this.model.vehicleRoadApplication = item.vehicleRoadApplication;
      if (this.model.vehicleRoadApplication) {
        this.onRoadApplicationChange()
      }
      this.model.vehicleLoading = item.vehicleLoading;
      if (this.model.vehicleLoading) {
        this.onLoadingChange()
      }
      this.model.vehicleTyreSize = item.vehicleTyreSize;
      this.model.vehicleAverageMonthlyRunning = Number(
        item.vehicleAverageMonthlyRunning
      );
      this.model.lastCheckDate = item.updatedAt;
      this.model.freeCheckUpUntil = item.freeCheckUpUntil;

      this.$emit("handleSelect", item);
    },
    /**
     * Get vehicles which registerd number start with registedNumber
     *
     * @param { Number } registedNumberCode
     * @returns { Promise }
     */
    getVehicleInfoByRegistedNumber(registedNumberCode) {
      registedNumberCode = registedNumberCode.toLowerCase();

      let q = {
        selector: { type: 'vehicleInfo', vehicleNumberCode: { $regex: registedNumberCode }}
      };

      return db.jobCardDb.find(q)
            .then(r => {
              return r.docs;
            });
    },
    changeVehInfo() {
      this.dialogVisible = false;
      this.isFormEditable = true;

      //EventBus.$emit('ON_CHANGE_VALUE');
    },
    standardizeVehicleNumber(value) {
      return value.replace(/[\W\s]+/g, "").toUpperCase();
    },
    input(event) {
      let value = event.target.value.toString();
      this.model.vehicleNumber = this.standardizeVehicleNumber(value);
      window.scrollTo({
        top: 200,
        behavior: "smooth"
      });
    },
    paste(event) {
      let clipboardData = event.clipboardData || window.clipboardData;
      let pastedData = clipboardData.getData("Text");

      let value = this.standardizeVehicleNumber(pastedData)
      if (value === '' || this.model.vehicleNumber === value) {
        event.preventDefault();
        event.stopPropagation();
      }
    },
    keydownHandler(event) {
      let value = event.key;
      let reg = /^[a-z0-9]+$/i;

      if (!reg.test(value)) {
        event.preventDefault();
        event.stopPropagation();
      }
    }
  }
};
</script>

<style>

</style>
