<template>
  <el-form :model="model" ref="vehicleInspectionForm">
    <h2>{{$t('Vehicle Inspection')}}</h2>
    <div v-if="!isFormValid" class="error-message">
     <h3>ERROR</h3>
     <p>{{$t('Please check the form fields highlighted in red below.')}}</p>
   </div>
    <div class="vehicle-inspection">
      <ul>
        <li>
          <el-form-item label=" ">
            <el-checkbox v-model="model.isToggle" @change="onToggle" class="isToggle">
              {{$t('If vehicle not comes for alignment')}}
            </el-checkbox>
          </el-form-item>
        </li>
        <li>
          <div class="cf">
            <div class="col">
              <h3>{{$t('Vehicle parts inspection')}}</h3>
            </div>
            <div class="col ml-60">
              <h3>{{$t('Comments')}}</h3>
            </div>
          </div>
        </li>
        <li>
          <div class="cf">
            <div class="col">
              <div class="form-control">
                <dl class="cf">
                  <dt>&nbsp;</dt>
                  <dd><span class="inspection-label">{{$t('OK')}}</span>&nbsp;</dd>
                  <dd><span class="inspection-label">{{$t('Not OK')}}</span>&nbsp;</dd>
                </dl>
              </div>
            </div>
          </div>
        </li>

        <!--<li v-for="item in vehicleInspections" :key="item.inspectionName">-->
          <!--<app-inspection-part :label="item.inspectionName" :comments="item.comments" :inspection="item.inspection">-->
            <!--<dd><el-radio label="true"></el-radio></dd>-->
            <!--<dd><el-radio label="false"></el-radio></dd>-->
          <!--</app-inspection-part>-->
        <!--</li>-->

        <li>
          <app-inspection-part ref="kingPin" label="King Pin"
                               :comments="['Shake in king pin']"
                               :inspection="model.kingPin"
                               :isToggle="model.isToggle">
            <dd><el-radio label="true"></el-radio></dd>
            <dd><el-radio label="false"></el-radio></dd>
          </app-inspection-part>

          <app-inspection-part ref="wheelBearing" label="Wheel Bearing"
                               :comments="['Shake in wheel bearing. Can cause tyre wear']"
                               :inspection="model.wheelBearing"
                               :isToggle="model.isToggle">
            <dd><el-radio label="true"></el-radio></dd>
            <dd><el-radio label="false"></el-radio></dd>
          </app-inspection-part>

          <app-inspection-part ref="stearingBallJoints" label="Stearing Ball Joints"
                               :comments="['Steering ball joints worn out']"
                               :inspection="model.stearingBallJoints"
                               :isToggle="model.isToggle">
            <dd><el-radio label="true"></el-radio></dd>
            <dd><el-radio label="false"></el-radio></dd>
          </app-inspection-part>

          <app-inspection-part ref="tieRod" label="Tie Rod"
                               :comments="['Excessive play in tie rod', 'Bent tie rod']"
                               :inspection="model.tieRod"
                               :isToggle="model.isToggle">
            <dd><el-radio label="true"></el-radio></dd>
            <dd><el-radio label="false"></el-radio></dd>
          </app-inspection-part>

          <app-inspection-part ref="steeringWheel" label="Steering Wheel"
                               :comments="['Streering wheel play']"
                               :inspection="model.steeringWheel"
                               :isToggle="model.isToggle">
            <dd><el-radio label="true"></el-radio></dd>
            <dd><el-radio label="false"></el-radio></dd>
          </app-inspection-part>

          <app-inspection-part ref="bushesLeafs" label="Bushes In Leafs"
                               :comments="['Bushes worn out in leafs']"
                               :inspection="model.bushesLeafs"
                               :isToggle="model.isToggle">
            <dd><el-radio label="true"></el-radio></dd>
            <dd><el-radio label="false"></el-radio></dd>
          </app-inspection-part>

          <app-inspection-part ref="frontLeafSpring" label="Front Leaf Spring"
                               :comments="['Misaligned leafs', 'Loose U clamps', 'Broken leafs']"
                               :inspection="model.frontLeafSpring"
                               :isToggle="model.isToggle">
            <dd><el-radio label="true"></el-radio></dd>
            <dd><el-radio label="false"></el-radio></dd>
          </app-inspection-part>

          <app-inspection-part ref="rearLeafSpring" label="Rear Leaf Spring"
                               :comments="['Misaligned leafs', 'Loose U clamps', 'Broken leafs', 'Center bolt cut. Can lead to fast wear']"
                               :inspection="model.rearLeafSpring"
                               :isToggle="model.isToggle">
            <dd><el-radio label="true"></el-radio></dd>
            <dd><el-radio label="false"></el-radio></dd>
          </app-inspection-part>

          <app-inspection-part ref="rimDisc" label="Rim Disc"
                               :comments="['Disc damaged', 'Disc bent', 'Incorrect rim size. Will damage tyre bead']"
                               :inspection="model.rimDisc"
                               :isToggle="model.isToggle">
            <dd><el-radio label="true"></el-radio></dd>
            <dd><el-radio label="false"></el-radio></dd>
          </app-inspection-part>

        </li>
      </ul>
    </div>
  </el-form>
</template>

<script>
  import InspectionPart from "@/components/wizard/inspection-part";
  import Bus from "@/utils/event-bus";

  export default {
    props: ["model"],
    components: {
      appInspectionPart: InspectionPart
    },
    data: function() {
      return {
        isFormValid: true,
        vehicleInspections: [
          {
            inspectionName:'King Pin *', comments: ['Shake in king pin'], inspection: this.model.kingPin
          },
          {
            inspectionName:'Wheel Bearing *', comments: ['Shake in wheel bearing. Can cause tyre wear'], inspection: this.model.wheelBearing
          },
          {
            inspectionName:'Stearing Ball Joints *', comments: ['Steering ball joints worn out'], inspection: this.model.stearingBallJoints
          },
          {
            inspectionName:'Tie Rod *', comments: ['Excessive play in tie rod'], inspection: this.model.tieRod
          },
          {
            inspectionName:'Steering Wheel *', comments: ['Streering wheel play'], inspection: this.model.steeringWheel
          },
          {
            inspectionName:'Bushes in Leafs *', comments: ['Bushes worn out in leafs'], inspection: this.model.bushesLeafs
          },
          {
            inspectionName:'Front Leaf Spring *', comments: ['Misaligned leafs', 'Loose U clamps', 'Broken leafs'], inspection: this.model.frontLeafSpring
          },
          {
            inspectionName:'Rear Leaf Spring *', comments: ['Misaligned leafs', 'Loose U clamps', 'Broken leafs', 'Center bolt cut. Can lead to fast wear'], inspection: this.model.rearLeafSpring
          },
          {
            inspectionName:'Rim Disc *', comments: ['Disc damaged', 'Disc bent', 'Incorrect rim size. Will damane tyre bead. 7.5 inch rims should be used'], inspection: this.model.rimDisc
          }
        ]
      };
    },
    methods: {
      validate() {
        return new Promise((resolve, reject) => {
          this.isFormValid = true;

          this.$refs.vehicleInspectionForm.$children.forEach(c => {
            let valid = c.validate();
            if(!valid){
              this.isFormValid = false;
              return;
            }
          });

          resolve(this.isFormValid);
        });
      },
      onToggle() {
        if(this.model.isToggle) {
          Bus.$emit('DISABLE_STEP');
          Bus.$emit('RESET_ALIGNMENT');
          this.$refs.kingPin.resetForm();
          this.$refs.wheelBearing.resetForm();
          this.$refs.stearingBallJoints.resetForm();
          this.$refs.tieRod.resetForm();
          this.$refs.steeringWheel.resetForm();
          this.$refs.bushesLeafs.resetForm();
          this.$refs.frontLeafSpring.resetForm();
          this.$refs.rearLeafSpring.resetForm();
          this.$refs.rimDisc.resetForm();
        } else {
          Bus.$emit('ENABLE_STEP');
        }
      }
    }
  };
</script>

<style>

</style>
