/*	Project: Digital Job Card
	Author: Quoc Tran
	*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

/* body,
html {
    min-height: 100%;
    overflow-x: hidden;
} */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

a:active,
a:hover,
a:focus,
button:focus {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
}


/*	Normalize	*/


/*margin*/

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-55 {
    margin-top: 55px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-65 {
    margin-top: 65px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-85 {
    margin-top: 85px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-95 {
    margin-top: 95px;
}

.mt-100 {
    margin-top: 100px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-35 {
    margin-right: 35px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-45 {
    margin-right: 45px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-55 {
    margin-right: 55px;
}

.mr-60 {
    margin-right: 60px;
}

.mr-65 {
    margin-right: 65px;
}

.mr-70 {
    margin-right: 70px;
}

.mr-75 {
    margin-right: 75px;
}

.mr-80 {
    margin-right: 80px;
}

.mr-85 {
    margin-right: 85px;
}

.mr-90 {
    margin-right: 90px;
}

.mr-95 {
    margin-right: 95px;
}

.mr-100 {
    margin-right: 100px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-35 {
    margin-left: 35px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-45 {
    margin-left: 45px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-55 {
    margin-left: 55px;
}

.ml-60 {
    margin-left: 60px;
}

.ml-65 {
    margin-left: 65px;
}

.ml-70 {
    margin-left: 70px;
}

.ml-75 {
    margin-left: 75px;
}

.ml-80 {
    margin-left: 80px;
}

.ml-85 {
    margin-left: 85px;
}

.ml-90 {
    margin-left: 90px;
}

.ml-95 {
    margin-left: 95px;
}

.ml-100 {
    margin-left: 100px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-65 {
    margin-bottom: 65px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-75 {
    margin-bottom: 75px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-85 {
    margin-bottom: 85px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-95 {
    margin-bottom: 95px;
}

.mb-100 {
    margin-bottom: 100px;
}


/*padding*/

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-55 {
    padding-top: 55px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-65 {
    padding-top: 65px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-75 {
    padding-top: 75px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-85 {
    padding-top: 85px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-95 {
    padding-top: 95px;
}

.pt-100 {
    padding-top: 100px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-25 {
    padding-right: 25px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-35 {
    padding-right: 35px;
}

.pr-40 {
    padding-right: 40px;
}

.pr-45 {
    padding-right: 45px;
}

.pr-50 {
    padding-right: 50px;
}

.pr-55 {
    padding-right: 55px;
}

.pr-60 {
    padding-right: 60px;
}

.pr-65 {
    padding-right: 65px;
}

.pr-70 {
    padding-right: 70px;
}

.pr-75 {
    padding-right: 75px;
}

.pr-80 {
    padding-right: 80px;
}

.pr-85 {
    padding-right: 85px;
}

.pr-90 {
    padding-right: 90px;
}

.pr-95 {
    padding-right: 95px;
}

.pr-100 {
    padding-right: 100px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-35 {
    padding-left: 35px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-45 {
    padding-left: 45px;
}

.pl-50 {
    padding-left: 50px;
}

.pl-55 {
    padding-left: 55px;
}

.pl-60 {
    padding-left: 60px;
}

.pl-65 {
    padding-left: 65px;
}

.pl-70 {
    padding-left: 70px;
}

.pl-75 {
    padding-left: 75px;
}

.pl-80 {
    padding-left: 80px;
}

.pl-85 {
    padding-left: 85px;
}

.pl-90 {
    padding-left: 90px;
}

.pl-95 {
    padding-left: 95px;
}

.pl-100 {
    padding-left: 100px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-55 {
    padding-bottom: 55px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-65 {
    padding-bottom: 65px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-75 {
    padding-bottom: 75px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-85 {
    padding-bottom: 85px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-95 {
    padding-bottom: 95px;
}

.pb-100 {
    padding-bottom: 100px;
}


/*clearfix*/

.cf:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.cf {
    min-height: 1px;
}

* html .cf {
    height: 1px;
}

a {
    text-decoration: none;
}

h2 {
    font-family: "BebasNeue";
    font-size: 50px;
    color: #373737;
    text-align: center;
}

h3 {
    font-family: "BebasNeue";
    font-size: 25px;
    color: #373737;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"] {
    background: #ffffff;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #5c2e91;
    font-family: "Roboto";
    font-size: 15px;
    font-style: normal;
    font-weight: 450;
    width: 100%;
    height: 40px;
    line-height: 1.42857143;
    padding: 0 10px;
    vertical-align: baseline;
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #5c2e91a9 !important;
    font-style: italic;
    text-transform: capitalize;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #5c2e91a9 !important;
    font-style: italic;
    text-transform: capitalize;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #5c2e91a9 !important;
    font-style: italic;
    text-transform: capitalize;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #5c2e91a9 !important;
    font-style: italic;
    text-transform: capitalize;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    display: block;
    width: 25px;
    height: 25px;
}

input[type="checkbox"]+label:before {
    content: "";
    position: absolute;
    min-width: 25px;
    min-height: 25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/checkbox.png);
    image-rendering: -webkit-optimize-contrast;
}

input[type="checkbox"]:checked+label:before {
    background-position: 0 100%;
}

select {
    background-image: url(../images/arrow-down-blue.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #5c2e91;
    font-family: "Roboto";
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    height: 38px;
    line-height: 1.42857143;
    padding: 0 10px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}

button.action,
a.action {
    width: 100%;
    background: #5c2e91;
    border: 1px solid #5c2e91;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat";
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    vertical-align: middle;
}

button.action:hover,
a.action:hover {
    background: #4e257e;
}

button.action:disabled,
a.action:disabled {
    background: #ccc;
    border: 1px solid #bbb;
}

button.cancel {
    width: 100%;
    background: #fff;
    border: 1px solid #d0d0d0;
    color: #5c2e91;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat";
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    vertical-align: middle;
}

button.cancel:hover {
    background: #fafafa;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}


/*	Font face	*/

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue-Bold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}


/*	Html  */

html {
    overflow-y: scroll;
}


/*	Body  */

body {
    font-size: 15px;
    line-height: 1.4;
    font-family: "Roboto", roboto-regular, sans-serif;
    overflow: hidden;
    min-width: 1020px;
    color: #5c2e91;
    padding: 0 !important;
}

content {
    display: block;
    padding: 0 0 50px 0;
}

.wrapper {
    width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


/*	Header	*/

header {
    background-color: #5c2e91;
}

header>.wrapper {
    padding: 30px 20px;
}

.top-menu {
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 999;
}

.top-menu>li {
    display: inline-block;
    padding-right: 20px;
    margin-left: 20px;
    position: relative;
}

.top-menu>li.language {
    background: url(../images/arrow-down-white.png) no-repeat right 5px;
}

.top-menu>li.logout {
    background: url(../images/logout-icon.png) no-repeat right 5px;
}

.top-menu li a {
    color: #fff;
    font-size: 15px;
    font-family: "BebasNeue";
}

.top-menu>li>ul {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
}

.top-menu>li:hover>ul {
    display: block;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.top-menu>li>ul a {
    display: block;
}
.offlineStatus {
    width: 600px;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -300px;
    font-family: "Montserrat";
    text-align: center;
    color: #fff;
    animation:animatetop 0.4s
}
.offlineStatus span {
    padding: 0 0 0 35px;
    background: url(../images/wifi-icon.png) no-repeat left center;
    background-size: 25px auto;
}
@keyframes animatetop {
    from {
        top:-300px;
        opacity:0
    }

    to {
        top:5px;
        opacity:1
    }
}

/*	Login	*/

.login,
.signup {
    text-align: center;
}

.login a {
    color: #5c2e91;
    text-decoration: underline;
}

.form-login,
.form-signup {
    width: 260px;
    margin: 0 auto;
}

.form-control {
    padding: 5px 0;
    position: relative;
}

.form-control.required:before {
    content: "*";
    position: absolute;
    right: -15px;
    top: 13px;
}

.input-text {
    max-width: 260px;
}

.primary-button {
    max-width: 300px;
}

.mage-error {
    color: #ef240f;
    font-size: 12px;
    text-align: left;
    padding: 5px 0 0;
}


/*	Sign up	*/

.small-button {
    max-width: 125px;
}


/*	Dashboard	*/

.main-dashboard {
    margin: 20px auto;
    text-align: center;
}

.main-view {
    width: 255px;
    margin: 20px auto;
}

.main-button li {
    display: inline-block;
    min-width: 260px;
}

.main-button li+li {
    margin-left: 20px;
}

.main-button li a {
    display: block;
    height: 35px;
    background: #5c2e91;
    /* Old browsers */
    background: -webkit-linear-gradient(#5c2e91 0%, #492472 100%);
    background: -o-linear-gradient(#5c2e91 0%, #492472 100%);
    background: linear-gradient(#5c2e91 0%, #492472 100%);
    border: 2px solid #492472;
    border-radius: 5px;
    color: #fff;
    font-family: "Montserrat";
    font-size: 15px;
    text-align: left;
    line-height: 35px;
    padding: 0 10px 0 60px;
    position: relative;
}

.main-button li a:before {
    content: "";
    width: 45px;
    height: 32px;
    position: absolute;
    left: 0px;
    top: 2px;
    border-right: 1px solid #8d6db2;
}

.main-button li.new-job a:before {
    background: url(../images/car-icon-white.png) no-repeat center;
}

.main-button li.view-jobs a:before {
    background: url(../images/search-icon-white.png) no-repeat center;
}

.main-button li a:hover {
    background: #492472;
    /* Old browsers */
    background: -moz-linear-gradient(top, #492472 0%, #5c2e91 100%);
    background: -webkit-linear-gradient(top, #492472 0%, #5c2e91 100%);
    background: linear-gradient(to bottom, #492472 0%, #5c2e91 100%);
}


/*	View Jobs	*/

.filter-job {
    margin: 20px 0;
}

.filter-job .el-form-item {
    max-width: 270px;
}

.job-sheet-list {
    margin-top: 35px;
    min-height: 150px;
}


/*	Table	*/

.main-table {
    width: 100%;
}

.main-table th {
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #d1d1d1;
    padding: 5px 0;
    margin-bottom: 10px;
}

.main-table td {
    padding: 5px 0;
}

.main-table .action-view {
    display: inline-block;
    width: 15px;
    height: 20px;
    margin-left: 15px;
    text-indent: 9999px;
    background: url(../images/view-icon.png) no-repeat center;
}


/*	Wizard form	*/

.continue-button span {
    max-width: 260px;
    padding: 0 25px 0 0;
    background: url(../images/street-icon.png) no-repeat right center;
}

.finish-button span {
    max-width: 260px;
    padding: 0 25px 0 0;
    background: url(../images/save-icon.png) no-repeat right center;
}

.edit-button span {
    max-width: 260px;
    padding: 0 25px 0 0;
    background: url(../images/edit-icon.png) no-repeat right center;
}

.export-button span {
    max-width: 260px;
    padding: 0 25px 0 0;
    background: url(../images/email-icon.png) no-repeat right center;
}

.edit-button a,
.export-button a {
    color: #fff;
}

.previous-button {
    position: absolute;
    left: 20px;
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: bold;
    color: #5c2e91;
    background: url(../images/arrow-left-blue.png) no-repeat left center;
    padding: 0 0 0 20px;
}

.exit-button {
    position: absolute;
    top: 50px;
    right: 20px;
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: bold;
    color: #5c2e91;
    background: url(../images/close-icon.png) no-repeat right center;
    background-size: 10px;
    padding: 0 15px 0 0;
}

.exit-button:hover,
.exit-button:focus {
    color: #5c2e91;
}


/*	Vehicle Information	*/

.vehicle-information {
    width: 300px;
    margin: 0 auto;
}

.input-select {
    max-width: 260px;
}

.date-list {
    padding: 5px 0;
}

.date-list dt {
    float: left;
}

.date-list dd {
    text-align: right;
}


/*	Driver Owner Information	*/

.driver-owner-information {
    width: 870px;
    margin: 0 auto;
}

.driver-owner-information .col {
    width: 400px;
    float: left;
}


/*	Vehicle Inspection	*/

.vehicle-inspection {
    padding: 0 20px;
}

.vehicle-inspection .col {
    width: 420px;
    float: left;
}

.vehicle-inspection dl {
    padding: 5px 0;
}

.vehicle-inspection dt {
    width: 320px;
    float: left;
    padding-top: 5px;
}

.vehicle-inspection dd {
    width: 25px;
    float: left;
    position: relative;
}

.vehicle-inspection dd+dd {
    margin-left: 30px;
}


/*	Tyre Inspection	*/

.tyre-inspection {
    padding: 0 20px;
}

.tyre-inspection .col {
    width: 420px;
    float: left;
}

.tyre-inspection dl {
    padding: 5px 0;
}

.tyre-inspection dt {
    width: 320px;
    float: left;
    padding-top: 5px;
}

.tyre-inspection dd {
    width: 25px;
    float: left;
    position: relative;
}

.tyre-inspection dd+dd {
    margin-left: 30px;
}
.tyre-inspection p, .vehicle-inspection p {
    padding: 5px 0;
}
.inspection-label {
    width: 150px;
    position: absolute;
}


/*   Vehicle Chart   */

.vehicle-chart {
    text-align: center;
}

.tyre-note {
    margin-bottom: 30px;
}

.tyre-note p {
    font-weight: bold;
    padding: 10px 0;
}

.vehicle-hint {
    padding: 10px 0;
}

.vehicle-hint p {
    color: #373737;
    font-weight: bold;
}

.tyre-diagram {
    /* position: relative; */
    margin: 0 auto;
    text-align: center;
}

.tyre-axel {
    position: relative;
    /*display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 40px;*/
}
.tyre-axel .el-form-item {
    margin-bottom: 0px;
}

.tyre-diagram .tyre-axel:first-child:before {
    content: "";
    width: 26px;
    height: 36px;
    background: url(../images/arrow-top.png) no-repeat center top;
    position: absolute;
    top: -36px;
    left: 50%;
    margin-left: -13px;
}

.tyre-axel-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    position: relative;
}

.tyre-axel-wrap:before {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    background-color: #d1d1d1;
    margin-left: -1px;
}

.tyre-axel-wrap:after {
    content: "";
    width: 215px;
    height: 4px;
    position: absolute;
    top: 50%;
    background-color: #d1d1d1;
}

.tyre-diagram .tyre-axel:last-child .tyre-axel-wrap:before {
    height: 50%;
}

.tyre-axel-type {
    flex-basis: 100%;
    text-transform: capitalize;
    font-weight: bold;
}

.tyre-quantity-2 .tyre-item:nth-child(1),
.tyre-quantity-4 .tyre-item:nth-child(2) {
    margin-right: 30px;
}

.tyre-quantity-2 .tyre-item:nth-child(2),
.tyre-quantity-4 .tyre-item:nth-child(3) {
    margin-left: 30px;
}

.drive .tyre-axel-type {
    width: 60px;
    height: 40px;
    background: #fff;
    border: 4px solid #d1d1d1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -30px;
}

.steer .tyre-axel-type {
    width: 75px;
    height: 30px;
    background: url(../images/circle-icon.png) no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -18px 0 0 -37px;
}

.tyre-axel-type {
    z-index: 2;
}

.tyre-item {
    margin: 0 5px;
    width: 185px;
    height: 100px;
    background: url(../images/tyre.png) no-repeat center;
    /* position: absolute; */
    z-index: 3;
}

.tyre-item input[type="text"],
.tyre-item input[type="number"] {
    height: 30px;
    padding: 5px 10px 0 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #5c2e91;
    border-radius: 0;
    text-align: center;
}

.tyre-item input[type="text"]:hover,
.tyre-item input[type="number"]:hover,
.tyre-item input[type="text"]:focus,
.tyre-item input[type="number"]:focus {
    border-bottom: 1px solid #5c2e91;
}

.tyre-item p {
    font-weight: bold;
    padding: 0px;
}


/*	Job Worksheet	*/

.job-worksheet {
    padding: 0 20px;
}

.job-worksheet .col {
    width: 420px;
    float: left;
}

.number-tyres dt {
    width: 140px;
    float: left;
    padding-top: 7px;
}

.number-tyres dd {
    float: left;
}

.min-input {
    width: auto;
    margin-right: 10px;
}

.min-input input[type="text"],
.min-input input[type="number"],
.min-input input[type="tel"] {
    max-width: 80px;
}

.min-select .el-input {
    max-width: 220px;
}


/*	Tyre Recommendation	*/

.tyre-recommendation {
    padding: 0 20px;
}

.tyre-recommendation-list {
    width: 100%;
    margin: 10px 0 50px;
}
.tyre-recommendation-list th {
    padding: 3px 5px;
    border-bottom: 1px solid #d1d1d1;
}
.tyre-recommendation-list td {
    vertical-align: top;
    padding: 3px 5px;
}

.tyre-recommendation-list dl {
    min-width: 210px;
}

.w-140 {
    max-width: 140px;
}

.tyre-recommendation-list dt {
    float: left;
    padding-top: 8px;
}

.tyre-recommendation-list dd {
    float: left;
    margin-left: 10px;
}

.tyre-recommendation-list .action-button {
    width: 22px;
    height: 22px;
    display: inline-block;
    text-indent: 9999px;
}

.tyre-recommendation-list .add-button {
    background: url(../images/add-icon.png) no-repeat center;
}

.tyre-recommendation-list .remove-button {
    background: url(../images/remove-icon.png) no-repeat center;
    margin-left: 10px;
}


/*	Service Recommendation	*/

.service-recommendation {
    padding: 0 100px;
}

.service-recommendation li {
    background: url(../images/info-icon.png) no-repeat left 18px;
    padding: 10px 0 10px 35px;
}

.service-recommendation li:first-child p {
    padding-top: 10px;
}

.service-recommendation dt {
    width: 320px;
    float: left;
    padding-top: 10px;
}

.service-recommendation dd {
    width: 380px;
    float: left;
}


/*	form review	*/

.form-review h2 {
    text-align: left;
}

.form-review .vehicle-driver-infomation {
    padding: 0 20px;
}

.form-review .vehicle-driver-infomation .col {
    width: 300px;
    float: left;
}

.form-review .vehicle-driver-infomation p {
    font-style: italic;
    padding: 2px 0;
}

.form-review .service-recommendation {
    padding: 0 20px;
}

.form-review .result-check {
    display: block;
    position: relative;
    border: 1px solid #bfcbd9;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-sizing: border-box;
}

.form-review .result-check.is-checked:after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5c2e91;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6);
}

.form-review .job-worksheet li {
    padding: 5px 0;
}

.form-review .number-tyres dt {
    width: 230px;
    padding-top: 0px;
}

.form-review .number-tyres dd {
    font-weight: bold;
}

.form-review .number-tyres dd span {
    font-weight: normal;
}

.form-review .service-recommendation li {
    max-width: 600px;
    background-position: left 8px;
}

.form-review .service-recommendation li:first-child p {
    padding-top: 0px;
}

.form-review .tyre-item {
    padding-top: 20px;
    width: 130px;
}


/*		Dialog Style	*/

.el-dialog {
    text-align: center;
    padding: 10px;
}

.el-dialog__header {
    position: relative;
}

.el-dialog__title {
    width: 100%;
    display: block;
    font-family: "BebasNeue";
    font-size: 50px;
    color: #373737;
    text-align: center;
}

.el-dialog__headerbtn {
    border: none;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
}

.el-dialog__body p {
    color: #5c2e91;
    padding: 5px 0;
}

.el-dialog__footer {
    text-align: center;
}

.dialog-footer .el-button {
    width: 200px;
    font-size: 15px;
    font-family: "Montserrat";
    color: #5c2e91;
    font-size: 0.9em;
    padding: 10px;
}
.ta .dialog-footer .el-button, .hd .dialog-footer .el-button {
    font-size: 0.8em;
}

.dialog-footer .el-button--primary {
    background-color: #5c2e91;
    border-color: #5c2e91;
    color: #fff;
}

.dialog-footer .el-button--primary:hover {
    background: #4e257e;
    border: 1px solid #4e257e;
}


/*  Edit Jobsheet   */

.edit-job {
    padding: 0 20px;
    margin-top: 30px;
}

.edit-job * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.edit-job .exit-button {
    top: 25px;
}

.edit-link {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: bold;
    color: #5c2e91;
    text-transform: capitalize;
    padding-left: 10px;
}

.edit-link span {
    padding: 0 0 0 15px;
    background: url(../images/edit-icon-blue.png) no-repeat left center;
}

.el-message--success {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a;
}

/*   Tamil Language Style   */

.ta .wizard-nav-pills li, .hd .wizard-nav-pills li {
  font-size: 12px;
  padding: 0 5px 0 15px;
}

.ta .wizard-tab-content h2,
.ta .view-jobs h2,
.ta .edit-job h2,
.hd .wizard-tab-content h2,
.hd .view-jobs h2,
.hd .edit-job h2 {
    font-size: 40px;
    padding: 20px 0 0;
}
.ta ::-webkit-input-placeholder
.hd ::-webkit-input-placeholder {
    font-size: 12px;
}
.emailSent{    
    font-size: 15px;
    font-family: "Montserrat";   
    color: #5c2e91;
    background: url(../images/SMS_icon.png) no-repeat left;
    padding: 0 0 0 60px; 
}
