body {
  /* background-color: #9e9e9e */
}

[v-cloak] {
  display: none;
}

.md-theme-default.md-card {
  background-color: white !important;
  margin: 20px;
}

.md-card-content {
  border-top: 1px solid #ddd;
}

.md-card .md-card-content:last-child {
  padding-bottom: 0px !important;
}

.md-theme-default.md-card a {
  color: #448aff !important;
}

.cardchecked {
  text-decoration: line-through;
  color: #ccc;
}

.floatingbutton {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 1000;
}

.main-toolbar {
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.itemedit {
  background-color: white !important;
}

/* .vue-form-wizard .wizard-progress-with-circle, .vue-form-wizard .wizard-nav-pills {display: none;} */

/*  Wizard Nav */
.vue-form-wizard .wizard-progress-with-circle, .wizard-header {
  display: none;
}
.vue-form-wizard {
  margin-top: -16px;
}
.vue-form-wizard .wizard-tab-content {
  padding: 10px 20px;
}
.wizard-nav-pills {
  width: 980px;
  height: 32px;
  margin: 0 auto;
  padding: 0 !important;
  background: url(../assets/images/bg-nav.png) repeat-x;
  border-radius: 3px;
  position: relative;
}
.wizard-nav-pills li {
  flex: none !important;
  height: 32px;
  display: inline-block;
  line-height: 36px;
  font-size: 15px;
  font-family: 'BebasNeue';
  color: #5c2e91;
  background: url(../assets/images/bg-arrow.png) no-repeat left center;
  padding: 0 8px 0 18px;
}
.wizard-nav-pills li:first-child {
  background: none;
}
.wizard-icon-circle.tab_shape {
  display: none;
}
.wizard-nav-pills li a {
  display: inline-block;
  height: 32px;
  position: relative;
  color: #a48bc2;
  top: 0px !important;
}
.wizard-nav-pills li a span {
  color: #a48bc2 !important;
}
.wizard-nav-pills li a:before {
  content: '';
  width: 22px;
  height: 22px;
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -11px;
  background: url(../assets/images/done-icon.png) no-repeat center;
}
.wizard-nav-pills li.active a {
  color: #5c2e91;
}
.wizard-nav-pills li.active a span {
  color: #5c2e91 !important;
}
.wizard-nav-pills li a.disabled {
  pointer-events: none;
  cursor: default;
}
.wizard-nav-pills li.active a:before, .wizard-nav-pills li a.disabled:before {
  display: none;
}
.wizard-card-footer {
  text-align: center;
}
.wizard-card-footer .wizard-footer-right {
  float: none !important;
}
.wizard-card-footer .wizard-footer-right > span {
  display: inline-block;
  width: 300px;
}
.wizard-card-footer .wizard-footer-left {
  float: none !important;
  position: absolute;
  top: 50px;
  left: 20px;
  background: url(../assets/images/arrow-left-blue.png) no-repeat left center;
  padding: 0 0 0 20px;
}
.wizard-card-footer .wizard-footer-left button {
  border: none;
  background: transparent;
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: bold;
  color: #5c2e91;
  cursor: pointer;
}
/*  Wizard Form  */

.el-form-item {
  position: relative;
  margin-bottom: 10px;
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
  border-color: #c0c4cc;
}
.el-form-item__label {
  position: absolute;
  top: 0px;
  right: -30px;
}
.el-form-item__label:before {
  color: #5c2e91 !important;
}
.el-select, .el-autocomplete {
  display: block;
}
.el-select .el-input .el-input__icon {
  color: #5c2e91;
}
.el-form-item__content {
  line-height: 22px;
}
.el-form-item__error {
  position: relative;
}
.el-icon-circle-check:before, .el-icon-circle-close:before {
  content: none;
}
.el-radio__inner {
  width: 24px;
  height: 24px;
  border: 1px solid #cccccc;
}
.el-radio__inner:after {
  width: 8px;
  height: 8px;
}
.el-radio__input.is-checked .el-radio__inner {
  border: 1px solid #cccccc;
  background: transparent;
}
.el-radio__inner:after {
  background: #5c2e91;
}
.el-checkbox__inner {
  width: 24px;
  height: 24px;
  border: 1px solid #cccccc;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: transparent;
  border-color: #bfcbd9;
}
.el-checkbox__inner:after {
  top: 5px;
  left: 8px;
  border: 2px solid #5c2e91;
  border-left: 0px;
  border-top: 0px;
}
.el-checkbox__label {
  color: #5c2e91;
  padding-left: 10px;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #5c2e91;
}
.el-radio__label {
  display: none;
}
.el-date-picker {
  width: 320px;
}
.el-icon-date {
  top: 50%;
  color: #5c2e91;
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotateZ(180deg);
}
.el-icon-date:before {
  content: '\e603';
}
.el-autocomplete-suggestion__wrap {
  max-height: 200px;
}
.required .el-form-item__label:before {
  content: '*';
  margin-right: 4px;
}
.el-select-dropdown {
  max-width: 640px;
}
.el-select-dropdown__item {
  padding: 5px 20px;
  height: auto;
  line-height: 22px;
  white-space: normal;
}
.el-select-dropdown__item span {
  line-height: 22px !important;
}
.isToggle .el-checkbox__inner {
    width: 46px;
    height: 24px;
    position: relative;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.isToggle .el-checkbox__inner:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
.isToggle.is-checked .el-checkbox__inner {
  background-color: #5c2e91;
}
.isToggle.is-checked .el-checkbox__inner:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.isToggle.is-checked .el-checkbox__inner:after {
    display: none;
}
.el-notification__content {
  text-align: left;
}
.error-message {
  border: 1px solid #f1ecec;
  border-left: 7px red solid;
  padding: 10px;
  color: black;
  margin: 0 auto 20px auto;
  width: 500px;
  text-align: left;
}
.color-red {
  color: red;
}