<template>
	<content>
		<section class="wrapper">
			<router-link class="previous-button" to="/">{{$t('Go Back')}}</router-link>
			<article class="view-jobs mt-30">
				<h2>{{$t('View Previous Jobs')}}</h2>
				<ul class="main-view main-button cf">
					<li class="new-job"><router-link to="/new-job">{{$t('Add a New Job')}}</router-link></li>
				</ul>

        <h3>{{$t('Filter Job Sheets')}}</h3>
        <div class="filter-job">
          <el-form class="demo-dynamic">
            <el-form-item label=" ">
              <el-input v-model="searchVal"
                        @input.native="input"
                        @paste.native="paste"
                        @keydown.native="keydownHandler"
                        :placeholder="$t('Vehicle Registration Number')"
                        style="width: 280px">
                <el-button @click.prevent="search" slot="append" icon="el-icon-search"></el-button>
              </el-input>
            </el-form-item>
          </el-form>
        </div>

				<div class="job-sheet-list" v-loading="loading">
					<table class="main-table" :data="jobSheets">
						<thead>
							<tr>
								<th>{{$t('JobID')}}</th>
								<th>{{$t('Date')}}</th>
								<th>{{$t('Company name')}}</th>
								<th>{{$t('Vehicle Registration Number')}}</th>
								<th>{{$t('Driver')}}</th>
								<th>{{$t('Action')}}</th>
							</tr>
						</thead>
						<tbody>
              <tr v-for="job in jobSheets" :key="job._id">
                <td>{{job._id}}</td>
                <td>{{job.createdAt | dateFormat}}</td>
                <td>{{job.driverOwnerInfo.owner.companyName}}</td>
                <td>{{job.vehicleInfo.vehicleNumber}}</td>
                <td>{{job.driverOwnerInfo.driver.name}}</td>
								<td><router-link class="action-view" :to="{ name: 'ViewJobDetail', params: { id : job._id}}">view</router-link></td>
              </tr>
						</tbody>
					</table>
				</div>
			</article>
		</section>
	</content>
</template>

<script>
import db from '@/utils/database'
import dateHelper from '@/utils/date-helper'

export default {
  name: 'ViewJobs',
  filters: {
    dateFormat (date) {
      return dateHelper.formatDate(date, 'DD/MM/YYYY')
    }
  },
  data () {
    return {
      jobSheets: [],
      vehicleNumber: '',
      loading: true,
      searchVal: ''
    }
  },
  created: function () {
    this.getAllJobs()
  },
  methods: {
    getAllJobs: function () {
      let q = {
        selector: { type: 'jobSheet', createdAt: {$gt: null} },
        sort: [{createdAt: 'desc'}]
      }
      db.jobCardDb.find(q)
        .then((resp) => {
          this.jobSheets = resp.docs
          this.loading = false
        })
        .catch(e => {
          console.log(e)
          this.$message({
            message: 'Could not load jobs.',
            type: 'error',
            showClose: true
          })
          this.loading = false
        })
    },
    search () {
      this.loading = true

      let options = {
        selectFields: ['_id', 'createdAt', 'driverOwnerInfo', 'vehicleInfo.vehicleNumber', 'driverOwnerInfo']
      }
      db.getVehicleInfoByRegistedNumber(this.searchVal, options)
        .then(data => {
          this.jobSheets = data.docs
        })
        .catch()
        .finally(() => {
          this.loading = false
        })
    },
    input (event) {
      let value = event.target.value.toString();
      this.searchVal = this.standardizeVehicleNumber(value);
    },
    paste (event) {
      let clipboardData = event.clipboardData || window.clipboardData;
      let pastedData = clipboardData.getData('Text');

      let value = this.standardizeVehicleNumber(pastedData);
      if (value === '' || this.searchVal === value) {
        event.preventDefault();
        event.stopPropagation();
      }
    },
    standardizeVehicleNumber (value) {
      return value.replace(/[\W\s]+/g, '').toUpperCase();
    },
    keydownHandler (event) {
      let value = event.key;
      let reg = /^[a-z0-9]+$/i;

      if (!reg.test(value)) {
        event.preventDefault();
        event.stopPropagation();
      }
    }
  }
}
</script>
