<template>
  <content>
    <section class="wrapper">
      <router-link class="previous-button" to="/view-jobs">{{$t('Go Back')}}</router-link>
      <div class="edit-job" v-loading="loading">
        <app-review-form :model.sync=vehicle v-if="!loading">
          <template slot="review-header">
            <h2> JOB ID: {{vehicle._id}} </h2>
           <div v-if="this.isSentSuccess == true" class="center"> <span class="emailSent">{{$t('Sent Email/SMS to customer')}}</span></div>
          </template>
          <template slot="edit-job">
            <div v-if="this.isSentSuccess != true">
              <div class="center pt-20">
                <router-link class="action submit primary-button edit-button" :to="{name : 'EditWizard', params: {id: $route.params.id}}">
                  <span>{{$t('Edit')}}</span>
                </router-link>
              </div>
            </div>
            <br/>
          </template>
        </app-review-form>
      </div>
    </section>
  </content>
</template>

<script>
import db from "@/utils/database";
import ReviewForm from "@/components/wizard/review-form";
import dateHelper from '@/utils/date-helper';
import axios from 'axios';
import VueCookie from "vue-cookie";

export default {
  components: {
    appReviewForm: ReviewForm
  },
  data() {
    return {
      dbname: VueCookie.get("dbName"),
      vehicle: {},
      model: {},
      emailDisabled: true,
      loading: true,
      isSentSuccess: false,
      sendEmailUrl: process.env.sendEmailUrl,
      sendSMSUrl: process.env.sendSMSUrl
    };
  },
  methods: {
    sendEmail: function() {
      axios.post(this.sendEmailUrl, {
        _id: this.$route.params.id,
        vehicleInfo: this.vehicle.vehicleInfo,
        driverOwnerInfo: this.vehicle.driverOwnerInfo,
        vehicleInspection: this.vehicle.vehicleInspection,
        tyreInspection: this.vehicle.tyreInspection,
        serviceRecommendation: this.vehicle.serviceRecommendation,
        jobWorksheet: this.vehicle.jobWorksheet,
        notificationContent : {
          freeCheckup: this.freeCheckup,
          mechanicalFault: this.mechanicalFault,
          vehicleComments: this.vehicleComments,
          vehicleCommentsTamil: this.vehicleCommentsTamil,
          tyreComments: this.tyreComments,
          tyreCommentsTamil: this.tyreCommentsTamil,
          worksheetItems: this.worksheetItems,
          worksheetItemsTamil: this.worksheetItemsTamil,
          kingPin: this.kingPin,
          wheelBearing: this.wheelBearing,
          stearingBallJoints: this.stearingBallJoints,
          tieRod: this.tieRod,
          steeringWheel: this.steeringWheel,
          bushesLeafs: this.bushesLeafs,
          frontLeafSpring: this.frontLeafSpring,
          rearLeafSpring: this.rearLeafSpring,
          rimDisc: this.rimDisc,
          misalignment: this.misalignment,
          patternMismatch: this.patternMismatch,
          airPressureMismatch: this.airPressureMismatch,
          discHolesMismatch: this.discHolesMismatch,
          cutsAndDamagesInTyres: this.cutsAndDamagesInTyres,
          tyreRemovalForRetread: this.tyreRemovalForRetread,
          otherObservations: this.otherObservations,
          regnumber: this.regnumber,
          driverLanguage: this.driverLanguage,
          fleetManagerLanguage: this.fleetManagerLanguage,
          ownerLanguage: this.ownerLanguage,
          cvzonename: this.cvzonename,
          cvzonephone: this.cvzonephone,
          cvzoneemail: this.cvzoneemail,
          cvzonesig: this.cvzonesig,
          fleetManagerEmail: this.fleetManagerEmail,
          ownerEmail: this.ownerEmail
        }
      },
      {
        headers: { apikey: "379e0063-b474-48a4-b66b-64e791e56694" }
      })
      .then(response => {
        this.$message({
          message: "Job notification email sent to customer.",
          type: "success",
          showClose: true
        }),
        this.updateStatus()
      })
      .catch(error => {
        this.$message({
          message: "The Email cannot be sent",
          type: "error",
          showClose: true
        })
      });
    },
    sendSMS () {
      axios.post(this.sendSMSUrl, {
        freeCheckup: this.freeCheckup,
        mechanicalFault: this.mechanicalFault,
        vehicleComments: this.vehicleComments,
        vehicleCommentsTamil: this.vehicleCommentsTamil,
        tyreComments: this.tyreComments,
        tyreCommentsTamil: this.tyreCommentsTamil,
        worksheetItems: this.worksheetItems,
        worksheetItemsTamil: this.worksheetItemsTamil,
        regnumber: this.regnumber,
        driverLanguage: this.driverLanguage,
        fleetManagerLanguage: this.fleetManagerLanguage,
        ownerLanguage: this.ownerLanguage,
        cvzonename: this.cvzonename,
        cvzonesig: this.cvzonesig,
        driverNumber: this.driverNumber,
        fleetManagerNumber: this.fleetManagerNumber,
        ownerNumber: this.ownerNumber
      },
      {
        headers: { apikey: "379e0063-b474-48a4-b66b-64e791e56694" }
      })
        .then(resp => {
          this.$message({
            message: 'The SMS message has been sent successfully.',
            type: 'success',
            showClose: true
          }),
          this.updateStatus()
        })
        .catch(err => {
          this.$message({
            message: 'The SMS cannot be sent at the moment, please check the phone number and try again.',
            type: 'error',
            showClose: true
          })
        })
    },
    updateStatus() {
      db.jobCardDb.get(this.$route.params.id)
      .then(doc => {
        doc.isSentSuccess = true;
        return db.jobCardDb.put(doc);
      })
      .catch(err => {
        console.log(err)
      }),
      this.isSentSuccess = true
    }
  },
  created() {
    if (this.$route.params.id) {
      db.getVehicleById(this.$route.params.id).then(vehicle => {
        this.loading = false;

        this.vehicle = vehicle;
        this.vehicle.vehicleInfo.lastCheckDate = vehicle.updatedAt;
        this.isSentSuccess = this.vehicle.isSentSuccess;
        this.emailDisabled =
        this.vehicle.driverOwnerInfo.driver.fleetManagerEmailAddress == "" && this.vehicle.driverOwnerInfo.owner.emailAddress == "";

        this.regnumber = this.vehicle.vehicleInfo.vehicleNumber;
        this.freeCheckup = dateHelper.isAfter(this.vehicle.vehicleInfo.freeCheckUpUntil, new Date()) ? true : false
        this.mechanicalFault = this.vehicle.serviceRecommendation.otherObservations == 'Mechanical fault observed in your vehicle. Please fix the issue and come back for alignment' ? true : false;
        this.vehicleComments = [
        this.vehicle.vehicleInspection.kingPin.comment,
        this.vehicle.vehicleInspection.wheelBearing.comment,
        this.vehicle.vehicleInspection.stearingBallJoints.comment,
        this.vehicle.vehicleInspection.tieRod.comment,
        this.vehicle.vehicleInspection.steeringWheel.comment,
        this.vehicle.vehicleInspection.bushesLeafs.comment,
        this.vehicle.vehicleInspection.frontLeafSpring.comment,
        this.vehicle.vehicleInspection.rearLeafSpring.comment,
        this.vehicle.vehicleInspection.rimDisc.comment
        ].filter(v => v);
        this.vehicleCommentsTamil = [
        this.$t(this.vehicle.vehicleInspection.kingPin.comment,'ta'),
        this.$t(this.vehicle.vehicleInspection.wheelBearing.comment,'ta'),
        this.$t(this.vehicle.vehicleInspection.stearingBallJoints.comment,'ta'),
        this.$t(this.vehicle.vehicleInspection.tieRod.comment,'ta'),
        this.$t(this.vehicle.vehicleInspection.steeringWheel.comment,'ta'),
        this.$t(this.vehicle.vehicleInspection.bushesLeafs.comment,'ta'),
        this.$t(this.vehicle.vehicleInspection.frontLeafSpring.comment,'ta'),
        this.$t(this.vehicle.vehicleInspection.rearLeafSpring.comment,'ta'),
        this.$t(this.vehicle.vehicleInspection.rimDisc.comment,'ta')
        ].filter(v => v);
        this.kingPin = this.$t(this.vehicle.vehicleInspection.kingPin.comment,'ta');
        this.wheelBearing = this.$t(this.vehicle.vehicleInspection.wheelBearing.comment,'ta');
        this.stearingBallJoints = this.$t(this.vehicle.vehicleInspection.stearingBallJoints.comment,'ta');
        this.tieRod = this.$t(this.vehicle.vehicleInspection.tieRod.comment,'ta');
        this.steeringWheel = this.$t(this.vehicle.vehicleInspection.steeringWheel.comment,'ta');
        this.bushesLeafs = this.$t(this.vehicle.vehicleInspection.bushesLeafs.comment,'ta');
        this.frontLeafSpring = this.$t(this.vehicle.vehicleInspection.frontLeafSpring.comment,'ta');
        this.rearLeafSpring = this.$t(this.vehicle.vehicleInspection.rearLeafSpring.comment,'ta');
        this.rimDisc = this.$t(this.vehicle.vehicleInspection.rimDisc.comment,'ta');
        this.tyreComments = [
        this.vehicle.tyreInspection.misalignment.comment,
        this.vehicle.tyreInspection.patternMismatch.comment,
        this.vehicle.tyreInspection.airPressureMismatch.comment,
        this.vehicle.tyreInspection.discHolesMismatch.comment,
        this.vehicle.tyreInspection.cutsAndDamagesInTyres.comment,
        this.vehicle.tyreInspection.tyreRemovalForRetread.comment
        ].filter(v => v);
        this.tyreCommentsTamil = [
        this.$t(this.vehicle.tyreInspection.misalignment.comment,'ta'),
        this.$t(this.vehicle.tyreInspection.patternMismatch.comment,'ta'),
        this.$t(this.vehicle.tyreInspection.airPressureMismatch.comment,'ta'),
        this.$t(this.vehicle.tyreInspection.discHolesMismatch.comment,'ta'),
        this.$t(this.vehicle.tyreInspection.cutsAndDamagesInTyres.comment,'ta'),
        this.$t(this.vehicle.tyreInspection.tyreRemovalForRetread.comment,'ta')
        ].filter(v => v);
        this.misalignment = this.$t(this.vehicle.tyreInspection.misalignment.comment,'ta');
        this.patternMismatch = this.$t(this.vehicle.tyreInspection.patternMismatch.comment,'ta');
        this.airPressureMismatch = this.$t(this.vehicle.tyreInspection.airPressureMismatch.comment,'ta');
        this.discHolesMismatch = this.$t(this.vehicle.tyreInspection.discHolesMismatch.comment,'ta');
        this.cutsAndDamagesInTyres = this.$t(this.vehicle.tyreInspection.cutsAndDamagesInTyres.comment,'ta');
        this.tyreRemovalForRetread = this.$t(this.vehicle.tyreInspection.tyreRemovalForRetread.comment,'ta');
        this.worksheetItems = [
        this.vehicle.jobWorksheet.vehicleInspection == true ? 'Vehicle Inspection' : '',
        this.vehicle.jobWorksheet.tyreInspection == true ? 'Tyre Inspection' : '',
        this.vehicle.jobWorksheet.alignment == true ? 'Alignment' : '',
        this.vehicle.jobWorksheet.chassisGreasing == true ? 'Chassis Greasing' : '',
        this.vehicle.jobWorksheet.airPressureCorrection == true ? 'Air Pressure Correction' : '',
        this.vehicle.jobWorksheet.nitroFilling == true ? 'Nitrogen Filling' : '',
        this.vehicle.jobWorksheet.retreading == true ? 'Retreading' : '',
        !(this.vehicle.jobWorksheet.tyreFitment == '' || this.vehicle.jobWorksheet.tyreFitment == 0)
         ? this.vehicle.jobWorksheet.tyreFitment + ' ' + 'Tyre Fitment' : '',
        !(this.vehicle.jobWorksheet.tyreRotation == '' || this.vehicle.jobWorksheet.tyreRotation == 0)
         ? this.vehicle.jobWorksheet.tyreRotation + ' ' + 'Tyre Rotation' : '',
        !(this.vehicle.jobWorksheet.swapping == '' || this.vehicle.jobWorksheet.swapping == 0)
         ? this.vehicle.jobWorksheet.swapping + ' ' + 'Swapping' : '',
        !(this.vehicle.jobWorksheet.tyreRepair == '' || this.vehicle.jobWorksheet.tyreRepair == 0)
         ? this.vehicle.jobWorksheet.tyreRepair + ' ' + 'Tyre Repair' : '',
        !(this.vehicle.jobWorksheet.wheelBalancing == '' || this.vehicle.jobWorksheet.wheelBalancing == 0)
         ? this.vehicle.jobWorksheet.wheelBalancing + ' ' + 'Wheel Balancing' : '',
        !(this.vehicle.jobWorksheet.extensionValves == '' || this.vehicle.jobWorksheet.extensionValves == 0)
         ? this.vehicle.jobWorksheet.extensionValves + ' ' + 'Extension Valves' : '',
        ].filter(v => v);
        this.worksheetItemsTamil = [
        this.vehicle.jobWorksheet.vehicleInspection == true ? this.$t('Vehicle Inspection', 'ta') : '',
        this.vehicle.jobWorksheet.tyreInspection == true ? this.$t('Tyre Inspection', 'ta') : '',
        this.vehicle.jobWorksheet.alignment == true ? this.$t('Alignment', 'ta') : '',
        this.vehicle.jobWorksheet.chassisGreasing == true ? this.$t('Chassis Greasing', 'ta') : '',
        this.vehicle.jobWorksheet.airPressureCorrection == true ? this.$t('Air Pressure Correction', 'ta') : '',
        this.vehicle.jobWorksheet.nitroFilling == true ? this.$t('Nitrogen Filling', 'ta') : '',
        this.vehicle.jobWorksheet.retreading == true ? this.$t('Retreading', 'ta') : '',
        !(this.vehicle.jobWorksheet.tyreFitment == '' || this.vehicle.jobWorksheet.tyreFitment == 0)
         ? this.vehicle.jobWorksheet.tyreFitment + ' ' + this.$t('Tyre Fitment', 'ta') : '',
        !(this.vehicle.jobWorksheet.tyreRotation == '' || this.vehicle.jobWorksheet.tyreRotation == 0)
         ? this.vehicle.jobWorksheet.tyreRotation + ' ' + this.$t('Tyre Rotation', 'ta') : '',
        !(this.vehicle.jobWorksheet.swapping == '' || this.vehicle.jobWorksheet.swapping == 0)
         ? this.vehicle.jobWorksheet.swapping + ' ' + this.$t('Swapping', 'ta') : '',
        !(this.vehicle.jobWorksheet.tyreRepair == '' || this.vehicle.jobWorksheet.tyreRepair == 0)
         ? this.vehicle.jobWorksheet.tyreRepair + ' ' + this.$t('Tyre Repair', 'ta') : '',
        !(this.vehicle.jobWorksheet.wheelBalancing == '' || this.vehicle.jobWorksheet.wheelBalancing == 0)
         ? this.vehicle.jobWorksheet.wheelBalancing + ' ' + this.$t('Wheel Balancing', 'ta') : '',
        !(this.vehicle.jobWorksheet.extensionValves == '' || this.vehicle.jobWorksheet.extensionValves == 0)
         ? this.vehicle.jobWorksheet.extensionValves + ' ' + this.$t('Extension Valves', 'ta') : '',
        ].filter(v => v);
        this.otherObservations = this.$t(this.vehicle.serviceRecommendation.otherObservations, 'ta');
        this.driverLanguage = this.vehicle.driverOwnerInfo.driver.preferredLanguage;
        this.fleetManagerLanguage = this.vehicle.driverOwnerInfo.driver.fleetManagerLanguage;
        this.ownerLanguage = this.vehicle.driverOwnerInfo.owner.preferredLanguage;
        this.fleetManagerEmail = this.vehicle.driverOwnerInfo.driver.fleetManagerEmailAddress;
        this.ownerEmail = this.vehicle.driverOwnerInfo.owner.emailAddress;
        this.driverNumber = this.vehicle.driverOwnerInfo.driver.contactNumber;
        this.fleetManagerNumber = this.vehicle.driverOwnerInfo.driver.fleetManagerContactNo;
        this.ownerNumber = this.vehicle.driverOwnerInfo.owner.contactNumber
      });
      db.getCVZoneInfo().then(cvzone => {
        this.cvzonename = cvzone.docs[0].cvzonename;
        this.cvzonephone = cvzone.docs[0].cvzonephone;
        this.cvzoneemail = cvzone.docs[0].cvzoneemail;
        this.cvzonesig = cvzone.docs[0].cvzonesig;
      })
    }
  }
};
</script>

<style scoped>

</style>
