<template>
      <md-list class="itemedit" v-if="mode == 'settings'">

        <table class="table">
          <thead>
            <tr>
              <th>Vehicle Number</th>
              <th>{{$t('Vehicle Brand')}}</th>
              <th>{{$t('Vehicle Model')}}</th>
              <th>{{$t('Vehicle Type')}}</th>
              <th>{{$t('Driver Name')}}</th>
              <th>{{$t('Driver Contact Number')}}</th>
              <th>Driver Fleet Manager Name</th>
              <th>Fleet Owner</th>
              <th>Fleet Owner City</th>
              <th>Created Date</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in jobSheetList" :key="item._id">
              <td>
                {{ item.vehicleInfo.vehicleNumber }}
              </td>
              <td>
                {{ item.vehicleInfo.vehicleBrand }}
              </td>
              <td>
                {{ item.vehicleInfo.vehicleModel }}
              </td>
              <td>
                {{ item.vehicleInfo.vehicleType }}
              </td>
              <td>
                {{ item.driverOwnerInfo.driverName }}
              </td>
              <td>
                {{ item.driverOwnerInfo.driverContactNumber }}
              </td>
              <td>
                {{ item.driverOwnerInfo.driverFleetManagerName }}
              </td>
              <td>
                {{ item.driverOwnerInfo.fleetOwner }}
              </td>
              <td>
                {{ item.driverOwnerInfo.fleetOwnerCity }}
              </td>
              <td>
                {{ item.createdAt }}
              </td>
            </tr>
          </tbody>
        </table>

      </md-list>
</template>

<script>
export default {
  props: ["mode", "jobSheetList"],
  computed: {
    /**
     * Calculates the shopping list items but sorted into
     * date order - newest first
     *
     * @returns {Array}
     */
    sortedJobSheetList: function() {
      return this.jobSheetList.sort(newestFirst);
    }
  },
  data: function() {
    return {};
  },
  created: function() {}
};

function newestFirst(a, b) {
  if (a.createdAt > b.createdAt) return -1;
  if (a.createdAt < b.createdAt) return 1;
  return 0;
}
</script>

<style>

</style>
