<template>
  <div class="register">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'Register',
  data () {
    return {
      msg: 'This is page register'
    }
  }
}
</script>