<template>
    <content>
			<section class="wrapper">
				<article class="dashboard mt-30">
					<h2>{{$t('Dashboard')}}</h2>
					<ul class="main-dashboard main-button cf">
						<li class="new-job"><router-link to="/new-job">{{$t('Add a New Job')}}</router-link></li>
						<li class="view-jobs"><router-link to="/view-jobs">{{$t('View Previous Jobs')}}</router-link></li>
					</ul>
				</article>
			</section>
		</content>
</template>

<script>
export default {
  name: 'Register',
  data () {
    return {
    }
  }
}
</script>