<template>
  <content>
      <section class="wrapper" v-loading="loading">
        <article class="login mt-30">
          <h2>{{$t('Login')}}</h2>
          <p class="bold pt-20 pb-20">{{$t('Please provide your username and password')}}</p>
          <div v-if="loginFail" class="error-message">
            <h3>ERROR</h3>
            <p>{{$t('Wrong username or password, please try again.')}}</p>
          </div>

          <el-form :show-message="false" :model="loginInfo" ref="loginForm" :rules="formRules">
            <div class="form-login">
              <el-form-item label=" " prop="username">
                <el-input v-model="loginInfo.username" placeholder="username"></el-input>
              </el-form-item>
              <el-form-item label=" " prop="password">
                <el-input v-model="loginInfo.password" :placeholder="$t('Password')" type="password"></el-input>
              </el-form-item>

              <button type="submit" class="action submit primary-button" title="Login" @click.prevent="login"><span>{{$t('Login')}}</span></button>
            </div>
          </el-form>
          <!-- <p class="bold pt-20">Not registered? <a href="signup.html">Register now</a></p> -->
        </article>
      </section>
    </content>
</template>

<script>
import Auth from "@/utils/auth";
import db from "@/utils/database";
import EventBus from "@/utils/event-bus";

export default {
  data() {
    return {
      loading: false,
      loginInfo: {
        username: "",
        password: ""
      },
      formRules: {
        username: [{ required: true, trigger: "blur" }],
        password: [{ required: true, trigger: "blur" }]
      },
      loginFail: false
    };
  },
  methods: {
    login() {
      this.loading = true;
      this.$refs["loginForm"].validate(async valid => {
        if (valid) {
          let userInfo = await Auth.logIn(
            this.loginInfo.username,
            this.loginInfo.password
          );
          if (userInfo && userInfo.metadata && userInfo.metadata.database) {
            db.startSync(userInfo.metadata.database, true);
            EventBus.$emit('ON_AUTHENTICATED');
            
            this.$router.push("/");
          } else {
            this.loginFail = true;
          }
        } else {
          this.loginFail = true;
        }
        this.loading = false;
      });
    }
  }
};
</script>
