<template>
  <div id="app" :class="locale">
    <header>
      <app-header @changeLanguage="changeLanguage"></app-header>
    </header>

    <router-view></router-view>
  </div>
</template>

<script>
import Header from "./layout/header.vue";
import db from "@/utils/database";
import auth from "@/utils/auth";
import VueCookie from "vue-cookie";

export default {
  name: "app",
  components: {
    appHeader: Header
  },
  data: function() {
    return {
      locale: localStorage.getItem("locale") || "en",
      remoteDBUrl: "http://localhost:5984/"
     // remoteDBUrl: process.env.remoteDBUrl http://localhost:5984/
    };
  },
  methods: {
    changeLanguage(lang) {
      this.locale = lang;
    }
  },
  created: function() {
    /* Sync data */
    let dbname = VueCookie.get("dbName");
    if (dbname != null) {
      db.startSync(dbname, true)
          .catch(error => {
              if (error.status === 401) {
                auth.logOut();
                this.$router.push('/login');
              }
          });
    } else {
      this.$router.push('/login');
    }
  }
};
</script>
