<template>
	<div>
		<header>
			<section class="wrapper">
        <router-link to="/"><img width="150" src="../assets/images/logo.png" alt="Logo"></router-link>
				<ul class="top-menu">
					<li class="language"><a>{{$t('Language')}}</a>
						<ul>
							<li @click.prevent="changeLang('en')"><a href="#">English</a></li>
							<li @click.prevent="changeLang('ta')"><a href="#">Tamil</a></li>
              <li @click.prevent="changeLang('hd')"><a href="#">Hindi</a></li>
						</ul>
					</li>
					<li v-if="authenticated" class="logout" @click.prevent="logOut"><a href="#">{{$t('Logout')}}</a></li>
				</ul>
        <detect-network @detected-condition="detected"></detect-network>
        <div v-if="this.state == false">
          <div class="offlineStatus"><span>{{$t('You are working in offline mode.')}}</span></div>
        </div>
			</section>
		</header>
	</div>
</template>

<script>
import Auth from "@/utils/auth";
import VueCookie from "vue-cookie";
import EventBus from "@/utils/event-bus";
import detectNetwork from "v-offline";

export default {
  components: {
    detectNetwork
  },
  data: function() {
    return {
      authenticated: VueCookie.get("authenticated") || false,
      state: null
    };
  },
  methods: {
    changeLang(lang) {
      localStorage.setItem("locale", lang);
      this.$emit("changeLanguage", lang);
      this.$i18n.locale = lang;
    },
    logOut() {
      Auth.logOut();
      this.authenticated = false;
      this.$router.push("/login");
    },
    detected(e) {
      this.state = e;
    }
  },
  created() {
    EventBus.$on("ON_AUTHENTICATED", () => {
      this.authenticated = true;
    });
  }
};
</script>